---
layout: post
tags: ["post", "rastrexo", "2020"]
title: VII Rastrexo de Pereiras
date: 2020-07-04
source_url: https://www.facebook.com/rastrexopereiras/
source_name: Rastrexo Pereiras
location: Pereiras, Mos
image: 2012-2020/94/44c5a0-2daf-496c-bbe0-5bcb5093a5e7.jpeg
---