---
layout: post
tags: ["post", "rastrexo", "2020"]
title: IV Rastrexo de Baredo "O Gran Imperio Co-Chino"
date: 2020-05-09
source_url: https://www.facebook.com/estumballadas/
source_name: Estumballadas
location: Baredo, Baiona
image: 2012-2020/3c/6532c9-ca79-45c7-b0af-ea7dc2670596.jpg
---