---
layout: post
tags: ["post", "rastrexo", "2020"]
title: IV Rastrexo de Camos
date: 2020-07-18
source_url: https://www.facebook.com/Rastrexo-Camos-1520050731385810/
source_name: 
location: Camos, Nigrán
image: 
---