---
layout: post
tags: ["post", "rastrexo", "2020"]
title: III Rastrexo Festas da Peregrina
date: 2020-05-23
organizers:
  - comision-de-festas-da-peregrina
location: Meira, Moaña
image: 2012-2020/63/13ec9d-421a-40f5-91ee-2005afda0040.jpg
---
