---
layout: post
tags: ["post", "rastrexo", "2020"]
title: III Rastrexo Festas da Peregrina
date: 2020-05-23
source_url: https://www.facebook.com/fiestasdelaperegrinademeira/
source_name: 
location: Meira, Moaña
image: 2012-2020/63/13ec9d-421a-40f5-91ee-2005afda0040.jpg
---