---
layout: post
tags: ["post", "rastrexo", "2017"]
title: I Rastrexo Erizana
date: 2017-10-14
source_url: https://www.facebook.com/erizanaclubdefutboldebaiona/
source_name: Erizana CF
location: Val de Martín, Baiona
image: 2012-2020/9e/c3d563-442d-406d-9469-f4bd43ac1ef6.jpg
---