---
layout: post
tags: ["post", "andaina", "2017"]
title: IV Andaina Nocturna
date: 2017-10-31
organizers:
  - comparsa-talisman
location: San Esteban de Budiño, Salceda de Caselas
image: 2012-2020/76/3d0db8-062e-4d1a-b837-a59ebb15d26b.jpg
---