---
layout: post
tags: ["post", "outro", "2017"]
title: Búsqueda Familiar en San Simón
date: 2017-06-25
source_url: https://www.facebook.com/events/759761307519001/?acontext=%7B%22ref%22%3A%22108%22%2C%22action_history%22%3A%22null%22%7D
source_name: Territorio Comanche
location: Illa de San Simón, Redondela
image: 2012-2020/7a/17ca09-06dc-4d96-9268-729d4c5417b1.jpg
---