---
layout: post
tags: ["post", "infantil", "2017"]
title: I Rastrexo Infantil de Couso
date: 2017-06-10
source_url: https://www.facebook.com/Rastrexo-Couso-1704453026509884/?hc_ref=PAGES_TIMELINE
source_name: Comunidade de Montes de Couso e Comisión de Festas San Cristobal
location: Couso, Gondomar
image: 2012-2020/6d/4ed496-6528-44f6-b397-0356a918b708.jpg
---