---
layout: post
tags: ["post", "rastrexo", "2017"]
title: II Rastrexo da Picoña
date: 2017-05-13
organizers:
  - pikona-salceda
location: A Picoña, Salceda de Caselas
image: 2012-2020/f2/ce93b9-125a-45c3-9ffc-f42fc87493bb.png
---