---
layout: post
tags: ["post", "rastrexo", "2017"]
title: III Rastrexo de Areas
date: 2017-07-08
source_url: https://www.facebook.com/rastrexoareas/
source_name: Rastrexo Areas
location: Areas, Ponteareas
image: 2012-2020/4f/e700ae-de1e-4e5e-b480-9f860117131f.jpg
---