---
layout: post
tags: ["post", "rastrexo", "2017"]
title: III Rastrexo de Villar
date: 2017-06-17
organizers:
  - rastrexo-de-villar
location: Vilar, Crecente
image: 2012-2020/fd/9ee987-d48c-44d0-975c-9c73fa51b1e2.jpg
videos:
  - id: "g_en6dsG7Ds"
    title: "RASTREXO VILLAR 2017 percorrido de Sapoconchos Mutenroi e proba final de varios grupos."
    published: 2017-09-18
    channel: "Sapoconchos Mutenroi"
---