---
layout: post
tags: ["post", "rastrexo", "2017"]
title: IV Rastrexo de Pereiras
date: 2017-07-01
source_url: https://www.facebook.com/rastrexopereiras/?fref=ts
source_name: Rastrexo de Pereiras
location: Pereiras, Mos
image: 2012-2020/20/a13281-f66a-410d-bcb4-c31b26f0dcd9.jpg
---