---
layout: post
tags: ["post", "rastrexo", "2017"]
title: IV Rastrexo de Torneiros
date: 2017-10-07
organizers:
  - asociacion-de-vecinos-san-salvador-de-torneiros
location: Torneiros, Porriño
image: 2012-2020/bb/0399b7-af46-4c0a-8e5d-9dd093e3eca8.jpg
---