---
layout: post
tags: ["post", "infantil", "2017"]
title: II Rastrexo Infantil Mondariz
date: 2017-07-30
source_url: https://www.facebook.com/omix.mondariz
source_name: Omix Mondariz
location: Centro Social de Mouriscados, Mondariz
image: 2012-2020/e5/f73845-f82a-4f16-8ade-0f75244b3222.jpg
---