---
layout: post
tags: ["post", "rastrexo", "2017"]
title: Romasanta, La caza de la bestia
date: 2017-03-11
organizers:
  - comunidade-de-montes-de-couso
  - comision-de-festas-san-cristobal
location: Couso, Gondomar
image: 2012-2020/82/1756f4-0a4f-4d15-804c-e2b745182166.png
---