---
layout: post
tags: ["post", "rastrexo", "2017"]
title: Romasanta, La caza de la bestia
date: 2017-03-11
source_url: https://www.facebook.com/Rastrexo-Couso-1704453026509884/
source_name: Cmd. Montes de Couso e Com. de Festas San Cristobal
location: Couso, Gondomar
image: 2012-2020/82/1756f4-0a4f-4d15-804c-e2b745182166.png
---