---
layout: post
tags: ["post", "rastrexo", "2017"]
title: V Rastrexo Vila de As Neves
date: 2017-08-14
source_url: https://www.facebook.com/nieves.clubdefutbol?fref=ufi
source_name: Nieves F.C.
location: Campo de Fútbol de As Neves, As Neves
image: 2012-2020/a8/06e85c-28d9-489c-9372-38463b18bf63.jpg
---