---
layout: post
tags: ["post", "rastrexo", "2017"]
title: V Rastrexo de San Pedro
date: 2017-06-10
organizers:
  - rastrexo-san-pedro
location: San Pedro de Batalláns, As Neves
image: 2012-2020/b9/63bef0-fa92-4d87-a7df-54a74536f06e.JPG
---