---
layout: post
tags: ["post", "andaina", "2023"]
title: Rastrexo musical
date: 2023-09-16
organizers:
  - asociacion-cultural-de-verducido
location: Verducido de Xeve, Pontevedra
image: 2023/rastrexo-musical-verducido.jpeg
---

