---
layout: post
tags: ["post", "andaina", "2023"]
title: 7ª Andaina nocturna "O camiño do terror"
date: 2023-08-25
organizers:
  - centro-cultural-recreativo-parada-do-minor
location: Parada, Nigrán
image: 2023/7-andaina-nocturna.jpeg
---
