---
layout: post
tags: ["post", "rastrexo", "2023"]
title: "VI Rastrexo Piñeiro"
date: 2023-06-03
source_url: https://www.facebook.com/romeriacabalo
source_name: Romería do Cabalo Piñeiro
location: Piñeiro, Tomiño
image: 2023/vi-rastrexo-pinheiro.jpeg
videos:
- title: "VI RASTREXO PIÑEIRO - O XOGO DA OCA"
  id: "GCFdINPM9AY"
---

