---
layout: post
tags: ["post", "rastrexo", "2023"]
title: "I Rastrexo de Coruxo: A escola musical"
date: 2023-07-23
source_url: https://www.facebook.com/rastrexocoruxo
source_name: Unión Musical de Coruxo
location: Coruxo, Vigo
image: 2023/i-rastrexo-coruxo.jpeg
---

