---
layout: post
tags: ["post", "rastrexo", "2023"]
title: "Rastrexo Infantil Camos: Barrio Sésamo S.XXI"
date: 2023-07-29
source_url: https://www.facebook.com/profile.php?id=100057577212657
source_name: Rastrexo Camos
location: Camos, Nigrán
image: 2023/rastrexo-infantil-camos.jpeg
---

