---
layout: post
tags: ["post", "rastrexo", "2023"]
title: "VI Rastrexo Piñeiro"
date: 2023-06-03
organizers:
  - comision-de-festas-de-san-lorenzo-de-pineiro
location: Piñeiro, Tomiño
image: 2023/vi-rastrexo-pinheiro.jpeg
videos:
- title: "VI RASTREXO PIÑEIRO - O XOGO DA OCA"
  id: "GCFdINPM9AY"
---

