---
layout: base
title: Axuda - Rastrexando
---


<div class="page page-index">
  <header class="page-header">
    <h1><i class="fi-info is-light-blue"></i> Axuda</h1>
  </header>
  <section>
    <br />
    <h2>¿Que é un rastrexo?</h2>
    <p>Un rastrexo é unha <u>carreira nocturna</u> por equipos con probas variadas que se celebra durante a noite nos montes galegos.</p>
    <p>Os participantes organízanse en equipos de 6 a 12 persoas e xuntos buscan o camiño a percorrer e van facendo as diferentes probas
    que se van atopando tentando facer a mellor puntuación, o tempo empregado tamén pódese ter en conta.</p>
  </section>

  <hr />

  <section>
    <br />
    <h2>Preguntas frecuentes (FAQ)</h2>

    <h3 class="faq-question">¿Como podo participar?</h3>
    <p class="faq-answer">Na nosa páxina poderás ver tódolos rastrexos, en cada un deles explícase
      cal é o proceso de inscrición.</p>
    <p clas="faq-answer">
    Depende do que decida a organización pero o habitual é enviar
    un correo electrónico a partires da data de apertura de inscrición.</p>
    <p clas="faq-answer">
    Unha vez inscrito recibirás tódala a información que sexa necesaria do propio organizador:
    datas de saída, ubicación, material necesario, etc...</p>
    <p clas="faq-answer">
    <u>As prazas son limitadas</u> se queres ir o mellor que inscribirse o antes posible.</p>

    <h3 class="faq-question">¿Poden participar menores de idade?</h3>
    <p class="faq-answer">Normalmente sí pero deben levar unha autorización firmada por un maior de idade pero depende do organizador.</p>

    <h3 class="faq-question">¿Necesito experiencia previa?</h3>
    <p class="faq-answer">
      Non, todo o mundo pode participar.
      Se non queredes correr podedes facelo camiño caminando.
    </p>
    <p class="faq-answer">
      Se non queredes facer algunha das probas tamén podedes decidir non facela.
    </p>
    <p class="faq-answer">
      Se aínda así tendes dúbidas preguntádelle a organización polo número de km
      e se o camiño vai ser muy complicado ou non.
    </p>

    <h3 class="faq-question">¿Que tipo de probas podemos esperar?</h3>
    <p class="faq-answer">
      As probas varían en tipo e dificultade, incluíndo retos físicos,
      enigmas mentais e actividades de traballo en equipo.
    </p>

    <h3 class="faq-question">¿Como sei o camiño correcto a seguir?</h3>
    <p class="faq-answer">
      Depende do rastrexo, a maioría son de frechas. É dicir,
      nas cruces de camiños deberedes buscar unha frecha indicando o camiño
      a seguir, os camiños polos que non debes ir márcanse con unha "X".
    </p>

    <p class="faq-answer">
      Os rastrexos de brúxula son pouco comúns en caso de necesitala
      a organización explicaravos como funciona antes da saída.
    </p>

    <h3 class="faq-question">¿Que debemos levar?</h3>
    <p class="faq-answer">
      O mínimo sería lanternas, teléfono,roupa cómoda e calzado adecuado para camiñar ou correr.
    </p>

    <p class="faq-answer">
      Dependendo do Rastrexo pode que necesitedes tamén unha brúxula, papel e boli, etc.
      Iso xa depende da organización.
    </p>

    <h3 class="faq-question">¿Que é Rastrexando?</h3>
    <p class="faq-answer">
      Dedicámonos a recopilar tódolos rastrexos e darlles visibilidade tanto na web como na nosa páxina de Facebook.
    </p>
    <p class="faq-answer">
      A idea nace porque costábame moito atopar os rastrexos en Facebook e decidin facer algo para facilitar a búsqueda destes.
    </p>
    <p class="faq-answer">
      Rastrexando <u>non organiza rastrexos</u> (al menos polo momento).
    </p>

    <h3 class="faq-question">Teño máis dubidas.</h3>
    <p class="faq-answer">
      Contacta coa organización do rastrexo ou con nos por <a href="mailto:carlos@rastrexando.eu">e-mail</a>.
    </p>
  </section>


  <br /><br /><br />
  <div class="is-flex-centered">
    {% renderHTMXLink "/calendarios/" + years[years.length-1].name + "/", "Ver calendario " + years[years.length-1].name, "highlight-calendar" %}
  </div>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "https://www.rastrexando.eu",
  "name": "Rastrexando",
  "author": { "@type": "Person", "name": "Carlos González Goce" },
  "description": "A túa comunidade do mundo do Rastrexo"
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "Rastrexando",
  "legalName": "Rastrexando",
  "url": "https://www.rastrexando.eu",
  "logo": "https://rastrexando.eu/recursos/rastrexando-simbolo.png",
  "foundingDate": "2017",
  "founders": [
    {
      "@type": "Person",
      "name": "Carlos González Goce",
      "sameAs": [
        "https://www.linkedin.com/in/carlos-goce/"
      ]
    }
  ],
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Baiona",
    "addressRegion": "Pontevedra",
    "addressCountry": "SPAIN"
  },
  "contactPoint": {
    "@type": "ContactPoint",
    "contactType": "customer support",
    "url": "https://www.rastrexando.eu/contacto/",
    "email": "carlos@rastrexando.eu"
  },
  "sameAs": [
    "https://www.facebook.com/rastrexando/"
  ]
}
</script>

