---
layout: base
title: Inicio - Rastrexando
eleventyImport:
  collections: ["post"]
pagination:
  data: collections.post
  size: 5
  alias: posts
---

<div class="page page-index">
	<header>
		<i class="fi-calendar"></i>
		<h1>Calendario</h1>
	</header>
	<aside>
		<div>
			<nav>
				{% for post in collections.post | reverse %}
					<article class="post">
						<header>
							<div class="date">
								<i class="fi-calendar"></i>
								<span>{{ post.date.getDay() }}</span>
								<span>{{ post.date.toLocaleString("gl", {month: "long"}) }}</span>
								<span>{{ post.date.getFullYear() }}</span>
							</div>
							<hr />
							<a class="{% if page.url == post.url %}active{% endif %}" href="{{ post.url }}">
								<h2>{{ post.data.title }}</h2>
							</a>
							<p class="location">
								<i class="fi-marker"></i>
								{{ post.data.location }}
							</p>
						</header>
					</article>
				{% endfor %}
				<ol>
				{%- for item in pagination.items %}
					<li>{{ item }}</li>
				{% endfor -%}
				</ol>
			</nav>
		</div>
	</aside>
</div>
