---
layout: base
title: Inicio - Rastrexando
eleventyImport:
  data ["years"]
pagination:
  data: collections.featured
  size: 10
  reverse: true
  alias: posts
---


<div class="page page-index">
  <header class="page-header">
    <h1><i class="fi-star is-light-blue"></i> Destacados</h1>
  </header>
  <aside>
    <div>
      <nav>
        {% for post in pagination.items %}
          {% renderPost post %}
        {% endfor %}

        {% if pagination.pages.length > 1 %}
          <ul class="pagination">
            <li>Máis:</li>
            {%- for pageEntry in pagination.pages %}
              {% if page.url == pagination.hrefs[loop.index0] %}
                <li>{{ loop.index }}</li>
              {% else %}
                <li>
                  <a href="{{ pagination.hrefs[ loop.index0 ] }}" {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page" {% endif %}>{{ loop.index }}</a>
                </li>
              {% endif %}
            {%- endfor %}
          </ul>
        {% endif %}
      </nav>
    </div>
  </aside>

  <a class="highlight-calendar" href="calendarios/{{ years[years.length-1].name }}">Ver calendario {{ years[years.length-1].name }}</a>
</div>
