---
layout: base
title: Sobre Rastrexando
eleventyImport:
  data: ["years"]
---

<div class="page page-index">
  <header class="page-header">
    <h1><i class="fi-compass is-light-blue"></i> Sobre Rastrexando</h1>
  </header>

  <section>
    <p>
      Rastrexando é a túa plataforma de referencia para non perderte ningún
      <strong>rastrexo</strong> nin <strong>andaina</strong> en Galicia.
    </p>
    <p>
      A idea nace en 2017 porque costaba moito atopar os rastrexos en Facebook sen coñecelos previamente.
      Decidimos facer algo para facilitar a búsqueda e darlle visibilidade a todas
      as organizacións.
    </p>
    <p>
      Rastrexando <u>non organiza rastrexos</u>. Só os recompila e publicita.
    </p>
  </section>

  <hr />

  <section>
    <p>
      <a href="https://www.facebook.com/rastrexando" target="_blank" rel="noopener noreferrer">
        <i class="fi-social-facebook"></i> facebook.com/rastrexando
      </a>
    </p>
    <p>
      <a href="mailto:carlos@rastrexando.eu">
        <i class="fi-mail"></i> carlos@rastrexando.eu
      </a>
    </p>
  </section>

  <br />
  <p style="font-size: 0.8rem; color: #888;">© 2017–2026 Rastrexando</p>
</div>
