---
layout: post
tags: ["post", "2026", "andaina"]
title: 10ª Andaina Nocturna "O Camiño do Terror" (venres)
date: 2026-08-21
source_url: https://www.facebook.com/OCaminodoTerror
source_name: "Centro Cultural e Recreativo Parada do Miñor"
location: Montecastelo, Nigrán
image: 2026/camiño-do-terror-2026.jpg
---

<p>A partir das 22:30 h.</p>
