---
layout: post
tags: ["post", "2026", "andaina"]
title: "Andaina Terrorífica A Feira"
date: 2026-10-24
organizers:
  - entroido-a-feira
source_url: https://www.facebook.com/photo?fbid=1583178653840305&set=a.465569425601239
location: "Centro Cultural A Feira, Salceda de Caselas"
image: 2026/andaina-terrorifica-a-feira.png
---

<p>Prepárate para unha noite de sustos, probas e algunha que outra sorpresa polo camiño. Xunta o teu grupo e anímate a participar.</p>
<p>A andaina terá un percorrido de 6 km en grupos de 6 a 12 persoas. A saída será ás 21:00 h desde o Centro Cultural A Feira.</p>
