---
layout: post
tags: ["post", "2026", "rastrexo"]
title: "I Rastrexo Areas"
date: 2026-06-20
source_url: https://www.facebook.com/profile.php?id=61579909820275
source_name: Comisión de Festas de Areas
location: Areas, Tui
image: 2026/areas.jpeg
---
