---
layout: post
tags: ["post", "2026", "rastrexo"]
title: "I Rastrexo Areas"
date: 2026-06-20
organizers:
  - comision-de-festas-de-areas
location: Areas, Tui
province: Pontevedra
map_lat: 42.035443
map_lng: -8.668101
image: 2026/areas.jpeg
---
