---
layout: post
tags: ["post", "2026", "andaina"]
title: IV Andaina Terrorífica
date: 2026-09-19
source_url: https://www.facebook.com/permalink.php?story_fbid=pfbid0sZZr6Ybepus4hcU6WF3QBASm9nAbevJHP4Dk2U4D1AzsAKDGvbKz3z7FHjW1PThLl&id=100094030441582
source_name: Comparsa Os Imprescindibles
location: Coruxo, Vigo
image: 2026/iv-andaina-terrorifica.jpg
---

<p>Chega a IV Andaina Terrorífica organizada pola Comparsa Os Imprescindibles.</p>
<p>Unha noite chea de medo, sorpresas e algo máis ca sustos.</p>
<p>Sábado 19 de setembro ás 21:30 h no Torreiro de Festas de San Sebastián, Fragoselo-Coruxo.</p>
<p>Grupos de máximo 15 persoas. Entrada: 8 €. Prazas limitadas.</p>
<p>Menores de 14 anos acompañados por unha persoa adulta.</p>

<img class="image" src="/recursos/imaxes/2026/iv-andaina-terrorifica-2.jpg" />
