---
permalink: /calendarios/2026/iv-rsatrexo-coruxo/index.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="gl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="0; URL=/calendarios/2026/iv-rastrexo-coruxo/">
  <link rel="canonical" href="https://rastrexando.eu/calendarios/2026/iv-rastrexo-coruxo/">
</head>
<body>
  <p><a href="/calendarios/2026/iv-rastrexo-coruxo/">Redirixindo...</a></p>
</body>
</html>
