---
layout: post
tags: ["post", "2026", "rastrexo"]
title: "IV Rastrexo de Coruxo: El Gran Juego de la OCA"
date: 2026-05-09
source_url: https://www.facebook.com/rastrexocoruxo
source_name: Unión Musical de Coruxo
location: Coruxo, Vigo
image: 2026/iv-coruxo.jpg
---
