---
layout: post
tags: ["post", "2026", "rastrexo"]
title: "IV Rastrexo de Coruxo: El Gran Juego de la OCA"
date: 2026-05-09
organizers:
  - union-musical-de-coruxo
location: Coruxo, Vigo
province: Pontevedra
map_lat: 42.186553
map_lng: -8.770139
image: 2026/iv-coruxo.jpg
---
