---
layout: post
tags: ["post", "2026", "rastrexo"]
title: IX Rastrexo Camos En el país de las maravillas
date: 2026-07-11
source_url: https://www.facebook.com/profile.php?id=100057577212657
source_name: Rastrexo Camos
location: Camos, Nigrán
image: 2026/ix-camos.jpg
---
