---
layout: post
tags: ["post", "2026", "rastrexo"]
title: IX Rastrexo Camos En el país de las maravillas
date: 2026-07-11
source_url: https://www.facebook.com/profile.php?id=100057577212657
source_name: Rastrexo Camos
location: Camos, Nigrán
province: Pontevedra
map_lat: 42.152804
map_lng: -8.772146
image: 2026/ix-camos.jpg
---
