---
layout: post
tags: ["post", "2026", "outro"]
title: Noche de Terror XII
date: 2026-10-31
source_url: https://www.facebook.com/OCaminodoTerror/posts/1647681800731549/
location: San Eleuterio, Mos
image: 2026/noche-de-terror-xii.jpg
---

<p>🌑🔥 <strong>ESTA NOITE… ALGO ESPERTARÁ EN MOS</strong> 🔥🌑</p>

<p>Cando caia a noite, as sombras sairán do bosque, as criaturas comezarán a roldar… e quizais descubras que algunhas lendas non eran tan lendas 👀🌲.</p>

<p>🩸 <strong>NOCHE DE TERROR XII</strong> 🩸</p>

<p>📅 31 de outubro de 2026<br>
⏰ 21:30 h<br>
📍 San Eleuterio, Mos<br>
🧭 Coordenadas: N 42°11'30" · W 8°38'42"</p>

<p>Prepárate para un pequeno percorrido terrorífico con probas para todas as idades… porque aquí ninguén está a salvo dun bo susto 😈.</p>

<p>🎭 <strong>CONCURSO DE DISFRACES</strong><br>
🍰🥧 <strong>CONCURSO DE DOCES E SALGADOS</strong><br>
🔥 <strong>GRAN QUEIMADA</strong> da man da incomparable Meiga Marilucha<br>
🎧 E despois… DJ SKANDAL para que a noite non remate cando desaparezan os monstros.</p>

<p>🎃 <strong>E O MELLOR: É DE BALDE.</strong></p>

<p>Atréveste a entrar?</p>

<p>📲 Escanea o QR do cartel para descubrir todos os detalles.</p>
