---
layout: post
tags: ["post", "2026", "rastrexo"]
title: "Rastrexo Camos Especial CEIP da Cruz"
date: 2026-08-01
source_url: https://www.facebook.com/profile.php?id=100057577212657
source_name: Rastrexo Camos
location: Camos, Nigrán
image: 2026/camos-especial.jpg
---
