---
layout: post
tags: ["post", "2026", "rastrexo"]
title: "Rastrexo Camos Especial CEIP da Cruz"
date: 2026-08-01
source_url: https://www.facebook.com/profile.php?id=100057577212657
source_name: Rastrexo Camos
location: Camos, Nigrán
image: 2026/camos-especial.jpg
---

<p>Rastrexo familiar especial CEIP da Cruz, para os peques e non tan peques, a partir de 3 anos.</p>
<p>Equipos de mínimo 6 a 12 integrantes.</p>
<p>5€ por participante.</p>
<p>Todo o importe recadado será para a excursión de fin de curso do cole CEIP da Cruz do 2027.</p>
