---
layout: post
tags: ["post", "2026", "andaina"]
title: Túnel do terror
date: 2026-10-24
source_url: https://www.facebook.com/comparsapoliticamenteincorrectos
source_name: Políticamente Incorrectos
location: Couso, Gondomar
image: 2026/tunel-do-terror-couso.jpg
---

<p>O 24 de outubro, Couso convértese nun lugar onde o medo cobra vida.</p>
<p>Actores en directo, ambientación extrema, son e efectos especiais nunha experiencia inmersiva.</p>
<p>Reúne o teu grupo e prepárate para entrar. As prazas son limitadas.</p>
<p>Inscricións abertas ata o 22 de outubro ás 23:59 h.</p>
