---
layout: post
tags: ["post", "rastrexo", "2026"]
title: "VI Rastrexo solidario Los Pitufos"
date: 2026-08-22
source_url: https://www.facebook.com/asociacionculturalverducido
source_name: Asociación Cultural de Verducido
location: Verducido de Xeve, Pontevedra
image: 2026/verducido.jpg
---

{% renderNotice "2026-07-21", "Corrixiuse o correo electrónico de contacto na imaxe do evento." %}
