---
layout: post
tags: ["post", "rastrexo", "2026"]
title: "VI Rastrexo solidario Los Pitufos"
date: 2026-08-22
organizers:
  - asociacion-cultural-de-verducido
location: Verducido de Xeve, Pontevedra
province: Pontevedra
map_lat: 42.479421
map_lng: -8.619367
image: 2026/verducido.jpg
videos:
  - id: "NAFo107VFoQ"
    title: "VI RASTREXO NOCTURNO SOLIDARIO LOS PITUFOS"
    published: "2026-08-29"
    channel: "Cultural Verducido"
notices:
  - date: "2026-07-21"
    message: "Corrixiuse o correo electrónico de contacto na imaxe do evento."
---
