---
layout: post
tags: ["post", "rastrexo", "2026"]
title: "XX Rastrexo Pexegueiro. Plan de atraco: 20 anos na sombra"
date: 2026-08-22
source_url: https://www.facebook.com/profile.php?id=100005506787811
source_name: Centro Cultural Pexegueiro
location: Pexegueiro, Tui
image: 2026/xx-pexegueiro.jpg
---
