---
layout: post
tags: ["post", "rastrexo", "2013"]
title: VIII Rastrexo de Fozara
date: 2013-08-13
source_url: 
source_name: Organizan Centro Cultural y A.C. Pedra de Garza
location: Fozara, Ponteareas
image: 2012-2020/7b/2a334f-d32e-4e4f-b67b-b0cc61af61cd.jpg
---