---
layout: post
tags: ["post", "rastrexo", "2019"]
title: I Rastrexo de Cesantes
date: 2019-06-01
source_url: 
source_name: Airiños de San Simón
location: Cesantes, Redondela
image: 2012-2020/13/20adae-f75c-423a-b766-8813295baf50.jpeg
---