---
layout: post
tags: ["post", "rastrexo", "2019"]
title: III Rastrexo Barca de Loimil-Arbo "Os emigrantes"
date: 2019-08-10
source_url: https://www.facebook.com/Barca-de-Loimil-113324502355872/?hc_ref=ARSlIqTW2Bm_-Udf0F41-pijvFNv1r6XaSkxs2Dp_GUmzgL2-ujZaf3VhIPomR-BfxI&fref=nf
source_name: Asociación Cultural Barca de Loimil - Arbo
location: Barca de Loimil, Arbo
image: 2012-2020/af/11d810-8222-4907-8d69-c179e11dcd00.jpg
---