---
layout: post
tags: ["post", "rastrexo", "2019"]
title: III Rastrexo Cristelos
date: 2019-10-12
source_url: https://www.facebook.com/Rastrexo-Cristelos-208373965844288/?fref=ts
source_name: 
location: Cristelos, Tomiño
image: 
---