---
layout: post
tags: ["post", "rastrexo", "2019"]
title: IV Rastrexo de Amorín
date: 2019-05-18
source_url: https://www.facebook.com/rastrexoamorin/
source_name: Rastrexo Amorín
location: Campo de Fútbol de Amorin, Amorín
image: 2012-2020/d4/189e74-38a7-440a-b42d-8b3b93faa59b.jpg
---