---
layout: post
tags: ["post", "rastrexo", "2019"]
title: Rastrexo Festivexe 2019
date: 2019-07-24
source_url: https://www.facebook.com/rastrexofestixeve
source_name: 
location: San Andrés de Xeve, Pontevedra
image: 2012-2020/41/c09dbc-3b13-4e0e-90ad-ea30327afb46.jpg
---