---
layout: post
tags: ["post", "rastrexo", "2019"]
title: III Rastrexo Lendas de Taboexa
date: 2019-08-30
source_url: https://www.facebook.com/cipcsanmamed.taboexa?hc_ref=ARQ6KZN8EczGrFH-Ei9jvefTGpsH_El03uzgiaVS3nL991X0hU9Ii_3Xe4P8KW_uHmI
source_name: CIPC San Mamed Taboexa
location: Taboexa, As Neves
image: 2012-2020/33/3a26cf-96a8-4816-b08c-3cefa7309231.jpeg
---