---
layout: post
tags: ["post", "andaina", "2019"]
title: Andaina do medo
date: 2019-10-31
source_url: https://www.facebook.com/centroculturalxinzo/
source_name: Centro Cultural de Xinzo
location: Xinzo, Ponteareas
image: 2012-2020/cd/de5909-6f95-48ba-b6c6-de0f0f516d0d.jpg
---