---
layout: post
tags: ["post", "2025", "rastrexo"]
title: Super Rastrexo Solidario "Un mundo para Mauri"
date: 2025-08-02
source_url: https://www.facebook.com/profile.php?id=100057577212657
source_name: Rastrexo Camos
location: Camos, Nigrán
image: 2025/mauri-02-08-25.jpg
---
