---
layout: post
tags: ["post", "2025", "rastrexo"]
title: I Rastrexo Beade
date: 2025-06-28
source_url: https://www.facebook.com/festas.santaana.beade
source_name: Festas Santa Ana Beade
location: Beade, Vigo
image: 2025/1-rastrexo-beade-min.png
---
