---
layout: post
tags: ["post", "rastrexo", "2025"]
title: I Rastrexo Comisión de Festas Virxe da Cela "A nosa verbena"
date: 2025-09-20
source_url: 
source_name: Comisión de festas Virxe da Cela de Baredo
location: Baredo, Baiona
image: 2025/a-cela-1.jpg
---

<a href="/recursos/imaxes/2025/a-cela-2.jpg" title="Detalles de inscrición" _blank="true">
    <img class="image" src="/recursos/imaxes/2025/a-cela-2.jpg" />
</a>