---
layout: post
tags: ["post", "rastrexo", "2025"]
title: XIX Rastrexo Pexegueiro As Paraolimpiadas
date: 2025-08-30
organizers:
  - centro-cultural-pexegueiro
location: Pexegueiro, Tui
image: 2025/xix-pexegueiro.jpg
---