---
layout: post
tags: ["post", "andaina", "2025"]
title: 9ª Andaina Nocturna "O Camiño do Terror"
date: 2025-08-22
source_url: https://www.facebook.com/OCaminodoTerror
source_name: CCR PARADA DO MIÑOR
location: Parada, Nigrán
image: 2025/nocturna-terror.jpg
---

Os días 22 e 23 de Agosto.
