---
layout: post
tags: ["post", "2025", "andaina"]
title: III Andaina do terror
date: 2025-11-01
organizers:
  - politicamente-incorrectos
location: Couso, Gondomar
image: 2025/iii-andaina-couso.jpg
---
