---
layout: post
tags: ["post", "rastrexo", "2025"]
title: XIX Rastrexo Pexegueiro As Paraolimpiadas
date: 2025-08-30
source_url: https://www.facebook.com/profile.php?id=100005506787811
source_name: Centro Cultural Pexegueiro
location: Pexegueiro, Tui
image: 2025/xix-pexegueiro.jpg
---