---
layout: post
tags: ["post", "2025", "andaina"]
title: III Andaina Terrorífica
date: 2025-10-25
source_url: https://www.facebook.com/profile.php?id=100094030441582
source_name: Comparsa Os Imprescindibles
location: Coruxo, Vigo
image: 2025/iii-andaina-terrorifica.jpg
---

<p>Torreiro de festas de San Sebastián Fragoselo — Coruxo</p>
<p>21:00 Hs</p>
