---
layout: post
tags: ["post", "2025", "andaina"]
title: III Andaina do terror
date: 2025-11-01
source_url: https://www.facebook.com/comparsapoliticamenteincorrectos
source_name: Políticamente Incorrectos
location: Couso, Gondomar
image: 2025/iii-andaina-couso.jpg
---
