---
layout: post
tags: ["post", "rastrexo", "2025"]
title: I Andaina Lenda da Pedra de Guillarei
date: 2025-09-06
source_url: https://www.facebook.com/profile.php?id=100069073501811
source_name: A.C. Lembranzas da Terra de Guillarei
location: Guillarei, Tui
image: 2025/i-andaina-guillarei.jpg
---