---
layout: post
tags: ["post", "2025", "rastrexo"]
title: III Rastrexo de Coruxo
date: 2025-05-10
source_url: https://www.facebook.com/rastrexocoruxo
source_name: Unión Musical de Coruxo
location: Coruxo, Vigo
image: 2025/iii-coruxo.png
---
