---
layout: post
tags: ["post", "2025", "rastrexo"]
title: 8º Rastrexo Camos
date: 2025-07-05
source_url: https://www.facebook.com/profile.php?id=100057577212657
source_name: Rastrexo Camos
location: Camos, Nigrán
image: 2025/8-camos.jpg
---
