---
layout: post
tags: ["post", "2025", "rastrexo"]
title: "Rastrexo Especial Camos: Cuentos de Navidad"
date: 2025-11-29
organizers:
  - rastrexo-camos
location: Camos, Nigrán
image: 2025/navidad-camos.jpg
---
