---
layout: post
tags: ["post", "2025", "rastrexo"]
title: "Rastrexo Especial Camos: Cuentos de Navidad"
date: 2025-11-29
source_url: https://www.facebook.com/profile.php?id=100057577212657
source_name: Rastrexo Camos
location: Camos, Nigrán
image: 2025/navidad-camos.jpg
---
