---
layout: post
tags: ["post", "rastrexo", "2017"]
title: 2° Rastrexo de Amorín
date: 2017-05-20
source_url: https://www.facebook.com/rastrexoamorin/
source_name: Rastrexo Amorín
location: Campo de Fútbol de Amorin, Tomiño
image: 2012-2020/78/c6f3a5-5dc5-4e6f-96b7-91659d64833e.jpg
---