---
layout: post
tags: ["post", "outro", "2017"]
title: I Mini Rastrexo Defensa da Vila
date: 2017-11-25
source_url: https://www.facebook.com/I-Mini-Rastrexo-Defensa-Da-Vila-252669805260807/
source_name: Mini Rastrexo Cangas
location: Xardíns Andrea, Parque da Palma, Cangas
image: 2012-2020/97/bd5385-c64f-40b8-b48d-0608ba5252d8.jpg
---