---
layout: post
tags: ["post", "andaina", "2017"]
title: IV Tempo de Samaín
date: 2017-10-31
source_url: https://www.facebook.com/comparsa.ciklon/?hc_ref=ARQfX2vUqLxhR05EiGt3NjJvBFTTAsEoF-KMIxDmmtYPuodCxtwSRbD6mtXi-76hHLc&fref=nf
source_name: Comerciantes Mercado do Reló e Comparsa Ciklón
location: Cruce de rúas Vicente Sobrino e Pacífico Rodríguez, A Guarda
image: 2012-2020/14/3c0ace-83b8-4cfb-ba7c-1059f8ede7da.jpg
---