---
layout: post
tags: ["post", "rastrexo", "2017"]
title: II Rastrexo María Soliño
date: 2017-10-31
source_url: https://www.facebook.com/rastrexomariasolinho/
source_name: Alumnos TAFAD do IES María Soliño
location: IES María Soliño, Cangas
image: 2012-2020/20/c9a99c-fbdd-435d-8bc4-0fd51101f4af.jpg
---