---
layout: post
tags: ["post", "andaina", "2017"]
title: Andaina Operación Nocturna
date: 2017-09-30
source_url: http://carnavalcastrobarreiro.com
source_name: Carnaval Castro Barreiro
location: Centro Cultural Castro Barreiro, Salceda de Caselas
image: 2012-2020/80/9ee2ec-303c-45b8-a5ba-5c9c146042b6.jpg
---