---
layout: post
tags: ["post", "rastrexo", "2017"]
title: I Rastrexo Barca de Loimil - Arbo "O Contrabando"
date: 2017-08-12
source_url: https://www.facebook.com/Barca-de-Loimil-113324502355872/
source_name: Asociación Cultural Barca de Loimil - Arbo
location: Barca de Loimil, Arbo
image: 2012-2020/c7/082754-b875-4cfd-8834-1e55bba500e2.jpg
---