---
layout: post
tags: ["post", "rastrexo", "2017"]
title: I Rastrexo de Camos
date: 2017-07-15
source_url: https://www.facebook.com/Comision-de-Camos-San-Roque-2017-1390557741001575/?fref=nf&pnref=story
source_name: Comunidad de Montes e Comisión de Festas de Camos
location: Camos, Nigrán
image: 2012-2020/55/1d823f-ba69-44bc-886d-a2240ade74fa.jpeg
---