---
layout: post
tags: ["post", "rastrexo", "2017"]
title: I Rastrexo Lendas de Taboexa
date: 2017-09-30
source_url: https://www.facebook.com/cipcsanmamed.taboexa
source_name: Cipc-San Mamed Taboexa
location: Taboexa, As Neves
image: 2012-2020/93/858e68-e53e-4ec4-89a5-4e4bd07294df.jpg
---