---
layout: post
tags: ["post", "rastrexo", "2017"]
title: I Rastrexo Anpa A Louriña
date: 2017-05-13
source_url: https://www.facebook.com/events/1933724756856979/?ti=cl
source_name: Anpa A Louriña
location: A Louriña, Porriño
image: 2012-2020/5b/50295d-a4ff-4965-98dc-72f406edc956.jpg
---