---
layout: post
tags: ["post", "rastrexo", "2017"]
title: II Rastrexo de Tameiga
date: 2017-05-20
source_url: https://www.facebook.com/events/1924161934487795/?fref=ts
source_name: Festas San Eleuterio de Tameiga
location: Tameiga, Mos
image: 2012-2020/4d/0db5bf-0bd4-4205-a4c9-72640bb1a2cb.jpg
---