---
layout: post
tags: ["post", "rastrexo", "2017"]
title: II Rastrexo de Vincios "20.000 Leguas de Viaxe Submarina"
date: 2017-08-26
source_url: https://www.facebook.com/profile.php?id=100004974829035&hc_ref=NEWSFEED&fref=nf
source_name: AVV Galiñeiro Vincios
location: Vincios, Gondomar
image: 2012-2020/12/b2c465-1566-4f2b-b19b-71027f38ffb0.jpg
---