---
layout: post
tags: ["post", "rastrexo", "2017"]
title: II Rastrexo Cristelos
date: 2017-05-06
source_url: https://www.facebook.com/Rastrexo-Cristelos-208373965844288/?fref=ts
source_name: Asociación Revolucion Show
location: Cristelos, Tomiño
image: 2012-2020/8f/4d3c93-f100-4844-bdcf-066ff1d6471f.jpg
---