---
layout: post
tags: ["post", "andaina", "2017"]
title: III Andaina Nocturna "O Camiño do Terror" día 12
date: 2017-08-12
source_url: 
source_name: CCR PARADA DO MIÑOR
location: Parada, Nigrán
image: 2012-2020/91/77a398-a202-4135-aebb-9055bcc39bc6.jpg
---