---
layout: post
tags: ["post", "andaina", "2017"]
title: IV Andaina Nocturna Noche de Zombies
date: 2017-08-26
source_url: https://www.facebook.com/comparsa.ciklon/
source_name: Comparsa Ciclón
location: Ponte Vello de Tamuxe, O Rosal
image: 2012-2020/23/e28b54-d157-47c4-bec8-eadfb07c0576.jpg
---