---
layout: post
tags: ["post", "rastrexo", "2017"]
title: IV Rastrexo de Fornelos
date: 2017-04-30
source_url: https://www.facebook.com/Rastrexo-Fornelos-2017-1854230148195460/?fref=ts
source_name: Comisión de Festas 2017
location: Fornelos, Salvaterra de Miño
image: 2012-2020/43/42ff4f-5169-4706-af7d-85d83790b235.png
---