---
layout: post
tags: ["post", "outro", "2017"]
title: Orientaventura
date: 2017-08-12
source_url: https://www.facebook.com/territoriocomanche16/
source_name: Territorio Comanche
location: Maus de Salas, Parque Natural Serra do Xurés
image: 2012-2020/0a/789ba6-ce5b-4ae8-8d92-a2d668a182b1.jpg
---