---
layout: post
tags: ["post", "rastrexo", "2017"]
title: XV Rastrexo Pexegueiro
date: 2017-08-19
source_url: https://www.facebook.com/profile.php?id=100005506787811
source_name: Centro Cultural Pexegueiro
location: Pexegueiro, Tui
image: 2012-2020/6d/088a93-5fb2-43a2-9bd1-d2691bfd0eea.jpg
---