---
layout: post
tags: ["post", "infantil", "2017"]
title: V Rastrexo Infantil Fornelos e Lourido
date: 2017-07-28
source_url: https://www.facebook.com/RastrexoInfantilFornelosLourido/
source_name: Rastrexo Infantil Fornelos e Lourido
location: Fornelos da Ribeira, Salvaterra de Miño
image: 2012-2020/d9/842dbc-9fe4-4bc0-8e6e-3e357253913c.jpg
---