---
layout: post
tags: ["post", "rastrexo", "2019"]
title: III Rastrexo de Soutelo
date: 2019-06-01
source_url: https://www.facebook.com/profile.php?id=100016913326846
source_name: Carnaval Soutelo
location: Soutelo, Salceda de Caselas
image: 2012-2020/ea/d1d0da-5361-4742-a6f5-50af2b2a2f95.jpg
---