---
layout: post
tags: ["post", "rastrexo", "2019"]
title: X Rastrexo Santiago de Oliveira
date: 2019-08-03
source_url: https://www.facebook.com/rastrexo.oliveira/
source_name: 
location: Santiago de Oliveira, Ponteareas
image: 2012-2020/68/f7e108-2c33-4433-aca0-e9679eeaa3ce.jpg
---