---
layout: post
tags: ["post", "rastrexo", "2019"]
title: III Rastrexo de Camos
date: 2019-07-27
organizers:
  - rastrexo-camos
location: Camos, Nigrán
image: 2012-2020/4d/77d636-a022-484b-9a45-3a99c150a597.png
videos:
  - id: "WmO_-5iVL0Q"
    title: "RASTREXO CAMOS 2019 ( CON AS TARTARUGAS )"
    published: 2019-07-30
    channel: "Las Aventuras de Pin y Pon"
---
