---
layout: post
tags: ["post", "rastrexo", "2019"]
title: VI Rastrexo de Pereiras
date: 2019-07-06
source_url: https://www.facebook.com/rastrexopereiras/
source_name: Rastrexo Pereiras
location: Pereiras, Mos
image: 2012-2020/19/9d3cab-7808-4fef-9c14-125d332b6827.jpg
---
