---
layout: post
tags: ["post", "rastrexo", "2019"]
title: I Rastrexo San Benito Atios
date: 2019-06-08
source_url: https://www.facebook.com/Festa-San-Benito-Atios-Albar%C3%ADn-2019-424139261109912/
source_name: Comisión de festas San Benito de Atios
location: Atios, O Porriño
image: 2012-2020/00/5e9bb1-fa5a-4c2e-be80-31c014755b64.jpg
---
