---
layout: post
tags: ["post", "rastrexo", "2019"]
title: III Rastrexo Cristelos
date: 2019-10-12
organizers:
  - rastrexo-cristelos
location: Cristelos, Tomiño
image:
videos:
  - id: "b4ZHXTvkXYE"
    title: "RASTREXO DE CRISTELOS Con as Tartarugas"
    published: 2019-10-23
    channel: "Las Aventuras de Pin y Pon"
---
