---
layout: post
tags: ["post", "rastrexo", "2019"]
title: V Rastrexo de Piñeiro "Insurgente"
date: 2019-07-13
organizers:
  - comision-de-festas-de-san-lorenzo-de-pineiro
location: Piñeiro, Tomiño
image: 2012-2020/46/ebfc04-c57a-4275-b43c-eddac587d926.jpg
videos:
  - id: "j6h_fgkJep8"
    title: "V RASTREXO PIÑEIRO - RASTREXO INSURGENTE - VIDEO PROMOCIONAL"
    published: 2019-06-07
    channel: "Rastreo Piñeiro San Lorenzo"
  - id: "TmDsO7InT7o"
    title: "V RASTREXO PIÑEIRO INSURGENTE ( con Tartarugas)"
    published: 2019-07-17
    channel: "Las Aventuras de Pin y Pon"
---