---
layout: post
tags: ["post", "infantil", "2019", "rastrexo"]
title: VII Rastrexo Infantil Fornelos e Lourido
date: 2019-07-19
organizers:
  - rastrexo-infantil-fornelos-e-lourido
location: Fornelos da Ribeira, Salvaterra de Miño
image: 2012-2020/48/ecfc2c-bf8f-4b23-86cb-5d399c6314b6.jpg
---