---
layout: post
tags: ["post", "andaina", "2019"]
title: VI Andaina Nocturna "El Manicomio"
date: 2019-09-21
source_url: https://www.facebook.com/events/2501743399882116/
source_name: Comparsa Ciklon
location: Goián, Tomiño
image: 2012-2020/bf/af3778-9859-4d39-896d-9630b43f4c83.jpg
---