---
layout: post
tags: ["post", "andaina", "2019"]
title: V Andaina “O Camiño do terror”
date: 2019-08-23
source_url: 
source_name: 
location: Parada, Nigrán
image: 2012-2020/c5/7e52b8-d25d-4fba-9fae-ad31579f5a55.jpg
---