---
layout: post
tags: ["post", "rastrexo", "2019"]
title: XVII Rastrexo de Pexegueiro
date: 2019-08-24
source_url: https://www.facebook.com/profile.php?id=100005506787811
source_name: Rastrexo Pexegueiro
location: Pexegueiro, Tui
image: 2012-2020/8a/79373c-df9d-42a6-b792-7c944a2f8124.jpg
---
