---
layout: post
tags: ["post", "rastrexo", "2019"]
title: II Rastrexo Festas da Peregrina
date: 2019-05-25
source_url: https://www.facebook.com/fiestasdelaperegrinademeira/
source_name: Festas da Peregrina
location: Meira, Moaña
image: 2012-2020/df/cba26c-05a3-4ff7-a423-5a2e48382e58.jpg
---
