---
layout: post
tags: ["post", "rastrexo", "2019"]
title: III Rastrexo Lendas de Taboexa
date: 2019-08-30
organizers:
  - cipc-san-mamed-taboexa
location: Taboexa, As Neves
image: 2012-2020/33/3a26cf-96a8-4816-b08c-3cefa7309231.jpeg
---