
<!doctype html>
<html lang="gl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/recursos/foundation-icons/foundation-icons.css" />
		<link rel="stylesheet" href="/recursos/bundle.css">
    <title>Inicio - Rastrexando</title>

		<!-- Meta -->
		<meta name="author" content="Carlos González Goce">
    <meta name="keywords" content="rastrexo,rastrexar,rastrexando,andaina,galicia"/>
    <meta property="og:title" content="Inicio - Rastrexando">
    <meta name="description" content="Rastrexando — A túa plataforma de referencia para non perderte ningún Rastrexo">
    <meta property="og:description" content="Rastrexando — A túa plataforma de referencia para non perderte ningún Rastrexo">

		<!-- Favicon (made with http://realfavicongenerator.net/) -->
    <link rel="apple-touch-icon" sizes="180x180" href="/recursos/apple-touch-icon.png?v2=Gvk3Pm9dNO">
    <link rel="icon" type="image/png" sizes="32x32" href="/recursos/favicon-32x32.png?v2=Gvk3Pm9dNO">
    <link rel="icon" type="image/png" sizes="16x16" href="/recursos/favicon-16x16.png?v2=Gvk3Pm9dNO">
    <link rel="manifest" href="/recursos/site.webmanifest?v2=Gvk3Pm9dNO">
    <link rel="mask-icon" href="/recursos/safari-pinned-tab.svg?v2=Gvk3Pm9dNO" color="#5bbad5">
    <link rel="shortcut icon" href="/recursos/favicon.ico?v2=Gvk3Pm9dNO">
    <meta name="apple-mobile-web-app-title" content="Rastrexando">
    <meta name="application-name" content="Rastrexando">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Scripts -->
    <script src="/recursos/js/htmx.min.js"></script>
  </head>
  <body class="relative">
    
<div id="layout-base" hx-indicator="#rastrexando-logo img">
  <div class="animated-bg-wrapper">
    <section class="animated-section">
      <header class="wrapper">
        <a
          id="rastrexando-logo"
          href="/"
          hx-get="/"
          hx-target="#main-container"
          hx-select="#main-container"
          hx-swap="outerHTML"
          hx-push-url="true"
        >
          <img class="image" src="/recursos/rastrexando-simbolo.png" alt="Curuxa de Rastrexando" />
          <span class="title">Rastrexando</span>
        </a>
      </header>
      <div class='air air1'></div>
      <div class='air air2'></div>
      <div class='air air3'></div>
      <div class='air air4'></div>
    </section>
  </div>
  <main id="main-container">
    <div class="page-center-content">
      <div class="page-content">
        

<div class="page page-index">
  <header class="page-header">
    <h1><i class="fi-star is-light-blue"></i> Destacados</h1>
  </header>
  <section>
    <br />
    
      
    <article class="post">
        <hr />
        <header>
            <a
              class="link"
              hx-get="/calendarios/2018/04-08-2018-ponteareas-ix-rastrexo-santiago-de-oliv/"
              hx-target="#main-container"
              hx-select="#main-container"
              hx-swap="outerHTML"
              hx-push-url="true"
              href="/calendarios/2018/04-08-2018-ponteareas-ix-rastrexo-santiago-de-oliv/"
            >
            <h2>IX Rastrexo Santiago de Oliveira</h2>
            </a>
            <ul class="details">
            <li>
                <div class="date">
                <i class="fi-calendar is-light-blue"></i>
                sábado, 4 de agosto de 2018
                </div>
            </li>
            <li>
                <i class="fi-marker is-light-blue"></i>
                Santiago de Oliveira, Ponteareas
            </li>
            <li>
            <i class="fi-social-facebook is-light-blue"></i>
            <a class="link" href="https://www.facebook.com/rastrexo.oliveira/" title="Rastrexo Oliveira" _blank="true">
            Rastrexo Oliveira
            </a>
        </li>
            </ul>
        </header>
    </article>
    
    
      
    <article class="post">
        <hr />
        <header>
            <a
              class="link"
              hx-get="/calendarios/2018/11-08-2018-arbo-ii-rastrexo-barca-de-loimil-arbo-i/"
              hx-target="#main-container"
              hx-select="#main-container"
              hx-swap="outerHTML"
              hx-push-url="true"
              href="/calendarios/2018/11-08-2018-arbo-ii-rastrexo-barca-de-loimil-arbo-i/"
            >
            <h2>II Rastrexo Barca de Loimil-Arbo "Imos de Romaría"</h2>
            </a>
            <ul class="details">
            <li>
                <div class="date">
                <i class="fi-calendar is-light-blue"></i>
                sábado, 11 de agosto de 2018
                </div>
            </li>
            <li>
                <i class="fi-marker is-light-blue"></i>
                Barca de Loimil, Arbo
            </li>
            <li>
            <i class="fi-social-facebook is-light-blue"></i>
            <a class="link" href="https://www.facebook.com/Barca-de-Loimil-113324502355872/?hc_ref=ARSlIqTW2Bm_-Udf0F41-pijvFNv1r6XaSkxs2Dp_GUmzgL2-ujZaf3VhIPomR-BfxI&fref=nf" title="Asociación Cultural Barca de Loimil - Arbo" _blank="true">
            Asociación Cultural Barca de Loimil - Arbo
            </a>
        </li>
            </ul>
        </header>
    </article>
    
    
      
    <article class="post">
        <hr />
        <header>
            <a
              class="link"
              hx-get="/calendarios/2018/11-08-2018-nigran-i-rastrexo-infantil-camos/"
              hx-target="#main-container"
              hx-select="#main-container"
              hx-swap="outerHTML"
              hx-push-url="true"
              href="/calendarios/2018/11-08-2018-nigran-i-rastrexo-infantil-camos/"
            >
            <h2>I Rastrexo Infantil Camos</h2>
            </a>
            <ul class="details">
            <li>
                <div class="date">
                <i class="fi-calendar is-light-blue"></i>
                sábado, 11 de agosto de 2018
                </div>
            </li>
            <li>
                <i class="fi-marker is-light-blue"></i>
                Camos, Nigrán
            </li>
            
            </ul>
        </header>
    </article>
    
    
      
    <article class="post">
        <hr />
        <header>
            <a
              class="link"
              hx-get="/calendarios/2018/14-08-2018-as-neves-vi-rastrexo-vila-de-as-neves/"
              hx-target="#main-container"
              hx-select="#main-container"
              hx-swap="outerHTML"
              hx-push-url="true"
              href="/calendarios/2018/14-08-2018-as-neves-vi-rastrexo-vila-de-as-neves/"
            >
            <h2>VI Rastrexo Vila de As Neves</h2>
            </a>
            <ul class="details">
            <li>
                <div class="date">
                <i class="fi-calendar is-light-blue"></i>
                martes, 14 de agosto de 2018
                </div>
            </li>
            <li>
                <i class="fi-marker is-light-blue"></i>
                Campo de Fútbol de As Neves, As Neves
            </li>
            <li>
            <i class="fi-social-facebook is-light-blue"></i>
            <a class="link" href="https://nieves-futbol-club.reservio.com" title="Nieves F.C." _blank="true">
            Nieves F.C.
            </a>
        </li>
            </ul>
        </header>
    </article>
    
    
      
    <article class="post">
        <hr />
        <header>
            <a
              class="link"
              hx-get="/calendarios/2018/18-08-2018-salvaterra-de-mino-v-rastrexo-de-fornel/"
              hx-target="#main-container"
              hx-select="#main-container"
              hx-swap="outerHTML"
              hx-push-url="true"
              href="/calendarios/2018/18-08-2018-salvaterra-de-mino-v-rastrexo-de-fornel/"
            >
            <h2>V Rastrexo de Fornelos</h2>
            </a>
            <ul class="details">
            <li>
                <div class="date">
                <i class="fi-calendar is-light-blue"></i>
                sábado, 18 de agosto de 2018
                </div>
            </li>
            <li>
                <i class="fi-marker is-light-blue"></i>
                Fornelos, Salvaterra de Miño
            </li>
            
            </ul>
        </header>
    </article>
    
    
      
    <article class="post">
        <hr />
        <header>
            <a
              class="link"
              hx-get="/calendarios/2018/24-08-2018-nigran-iv-andaina-o-camino-do-terror-ve/"
              hx-target="#main-container"
              hx-select="#main-container"
              hx-swap="outerHTML"
              hx-push-url="true"
              href="/calendarios/2018/24-08-2018-nigran-iv-andaina-o-camino-do-terror-ve/"
            >
            <h2>IV Andaina “O Camiño do terror” (venres)</h2>
            </a>
            <ul class="details">
            <li>
                <div class="date">
                <i class="fi-calendar is-light-blue"></i>
                venres, 24 de agosto de 2018
                </div>
            </li>
            <li>
                <i class="fi-marker is-light-blue"></i>
                Parada, Nigrán
            </li>
            
            </ul>
        </header>
    </article>
    
    
      
    <article class="post">
        <hr />
        <header>
            <a
              class="link"
              hx-get="/calendarios/2018/25-08-2018-nigran-iv-andaina-o-camino-do-terror-sa/"
              hx-target="#main-container"
              hx-select="#main-container"
              hx-swap="outerHTML"
              hx-push-url="true"
              href="/calendarios/2018/25-08-2018-nigran-iv-andaina-o-camino-do-terror-sa/"
            >
            <h2>IV Andaina “O Camiño do terror” (sábado)</h2>
            </a>
            <ul class="details">
            <li>
                <div class="date">
                <i class="fi-calendar is-light-blue"></i>
                sábado, 25 de agosto de 2018
                </div>
            </li>
            <li>
                <i class="fi-marker is-light-blue"></i>
                Parada, Nigrán
            </li>
            
            </ul>
        </header>
    </article>
    
    
      
    <article class="post">
        <hr />
        <header>
            <a
              class="link"
              hx-get="/calendarios/2018/25-08-2018-o-rosal-v-andaina-nocturna-eiras/"
              hx-target="#main-container"
              hx-select="#main-container"
              hx-swap="outerHTML"
              hx-push-url="true"
              href="/calendarios/2018/25-08-2018-o-rosal-v-andaina-nocturna-eiras/"
            >
            <h2>V Andaina Nocturna Eiras</h2>
            </a>
            <ul class="details">
            <li>
                <div class="date">
                <i class="fi-calendar is-light-blue"></i>
                sábado, 25 de agosto de 2018
                </div>
            </li>
            <li>
                <i class="fi-marker is-light-blue"></i>
                Eiras, O Rosal
            </li>
            <li>
            <i class="fi-social-facebook is-light-blue"></i>
            <a class="link" href="https://www.facebook.com/comparsaciklon/?hc_ref=ARTXP_u_odqLklUp7JLF2mDheqEshUwymuchDOaXADei2RBQzmnM7X-OzjVrgSg_n6o&fref=nf" title="Comparsa Ciklon" _blank="true">
            Comparsa Ciklon
            </a>
        </li>
            </ul>
        </header>
    </article>
    
    
      
    <article class="post">
        <hr />
        <header>
            <a
              class="link"
              hx-get="/calendarios/2018/25-08-2018-tui-xvi-rastrexo-de-pexegueiro-juego-de/"
              hx-target="#main-container"
              hx-select="#main-container"
              hx-swap="outerHTML"
              hx-push-url="true"
              href="/calendarios/2018/25-08-2018-tui-xvi-rastrexo-de-pexegueiro-juego-de/"
            >
            <h2>XVI Rastrexo de Pexegueiro “Juego de Tronos”</h2>
            </a>
            <ul class="details">
            <li>
                <div class="date">
                <i class="fi-calendar is-light-blue"></i>
                sábado, 25 de agosto de 2018
                </div>
            </li>
            <li>
                <i class="fi-marker is-light-blue"></i>
                Pexegueiro, Tui
            </li>
            <li>
            <i class="fi-social-facebook is-light-blue"></i>
            <a class="link" href="https://www.facebook.com/profile.php?id=100005506787811" title="Rastrexo Pexegueiro" _blank="true">
            Rastrexo Pexegueiro
            </a>
        </li>
            </ul>
        </header>
    </article>
    
    
      
    <article class="post">
        <hr />
        <header>
            <a
              class="link"
              hx-get="/calendarios/2018/01-09-2018-as-neves-ii-rastrexo-lendas-de-taboexa/"
              hx-target="#main-container"
              hx-select="#main-container"
              hx-swap="outerHTML"
              hx-push-url="true"
              href="/calendarios/2018/01-09-2018-as-neves-ii-rastrexo-lendas-de-taboexa/"
            >
            <h2>II Rastrexo Lendas de Taboexa</h2>
            </a>
            <ul class="details">
            <li>
                <div class="date">
                <i class="fi-calendar is-light-blue"></i>
                sábado, 1 de setembro de 2018
                </div>
            </li>
            <li>
                <i class="fi-marker is-light-blue"></i>
                Taboexa, As Neves
            </li>
            <li>
            <i class="fi-social-facebook is-light-blue"></i>
            <a class="link" href="https://www.facebook.com/cipcsanmamed.taboexa?hc_ref=ARQ6KZN8EczGrFH-Ei9jvefTGpsH_El03uzgiaVS3nL991X0hU9Ii_3Xe4P8KW_uHmI" title="CIPC San Mamed Taboexa" _blank="true">
            CIPC San Mamed Taboexa
            </a>
        </li>
            </ul>
        </header>
    </article>
    
    

    
      <ul class="pagination">
        <li>Máis:</li>
          
            <li>
              <a href="/" >1</a>
            </li>
          
          
            <li>
              <a href="/1/" >2</a>
            </li>
          
          
            <li>
              <a href="/2/" >3</a>
            </li>
          
          
            <li>
              <a href="/3/" >4</a>
            </li>
          
          
            <li>
              <a href="/4/" >5</a>
            </li>
          
          
            <li>
              <a href="/5/" >6</a>
            </li>
          
          
            <li>
              <a href="/6/" >7</a>
            </li>
          
          
            <li>
              <a href="/7/" >8</a>
            </li>
          
          
            <li>
              <a href="/8/" >9</a>
            </li>
          
          
            <li>
              <a href="/9/" >10</a>
            </li>
          
          
            <li>
              <a href="/10/" >11</a>
            </li>
          
          
            <li>
              <a href="/11/" >12</a>
            </li>
          
          
            <li>
              <a href="/12/" >13</a>
            </li>
          
          
            <li>
              <a href="/13/" >14</a>
            </li>
          
          
            <li>
              <a href="/14/" >15</a>
            </li>
          
          
            <li>
              <a href="/15/" >16</a>
            </li>
          
          
            <li>
              <a href="/16/" >17</a>
            </li>
          
          
            <li>18</li>
          
          
            <li>
              <a href="/18/" >19</a>
            </li>
          
          
            <li>
              <a href="/19/" >20</a>
            </li>
          
          
            <li>
              <a href="/20/" >21</a>
            </li>
          
          
            <li>
              <a href="/21/" >22</a>
            </li>
          
          
            <li>
              <a href="/22/" >23</a>
            </li>
          
          
            <li>
              <a href="/23/" >24</a>
            </li>
          
      </ul>
    
  </section>

  <div class="is-flex-centered">
    
      <a
        href="calendarios/2024/"
        hx-get="calendarios/2024/"
        hx-target="#main-container"
        hx-select="#main-container"
        hx-swap="outerHTML"
        hx-push-url="true"
        title="Ver calendario 2024"
        class="highlight-calendar"
      >
        Ver calendario 2024
      </a>
    
  </div>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "https://www.rastrexando.eu",
  "name": "Rastrexando",
  "author": { "@type": "Person", "name": "Carlos González Goce" },
  "description": "A túa comunidade do mundo do Rastrexo"
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "Rastrexando",
  "legalName": "Rastrexando",
  "url": "https://www.rastrexando.eu",
  "logo": "https://rastrexando.eu/recursos/rastrexando-simbolo.png",
  "foundingDate": "2017",
  "founders": [
    {
      "@type": "Person",
      "name": "Carlos González Goce",
      "sameAs": [
        "https://www.linkedin.com/in/carlos-goce/"
      ]
    }
  ],
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Baiona",
    "addressRegion": "Pontevedra",
    "addressCountry": "SPAIN"
  },
  "contactPoint": {
    "@type": "ContactPoint",
    "contactType": "customer support",
    "url": "https://www.rastrexando.eu/contacto/",
    "email": "carlos@rastrexando.eu"
  },
  "sameAs": [
    "https://www.facebook.com/rastrexando/"
  ]
}
</script>


      </div>
    </div>
  </main>
  <footer id="main-footer">
    <div class="wrapper">
      <div class="left">
        <p>Rastrexando</p>
        ©
        <p>2017-2024</p>
      </div>
      <div class="right">
        <a href="/axuda/">Axuda</a>
        <span>|</span>
        <div>
          <i class="fi-mail"></i>
          <a href="mailto:carlos@rastrexando.eu">Contacto</a>
        </div>
      </div>
    </div>
  </footer>
</div>

  </body>
</html>
