---
layout: post
tags: ["post", "rastrexo", "2016"]
title: I Rastrexo de Viladesuso - Oia
date: 2016-06-24
source_url: https://www.facebook.com/I-Rastrexo-de-Oia-1673398706266602/
source_name: As lebres de Oia
location: Viladesuso, Oia
image: 2012-2020/1d/460414-293d-405f-9006-c1a339e49583.jpeg
---