---
layout: post
tags: ["post", "infantil", "2016"]
title: I Rastrexo Infantil de Torneiros "Galiza Profunda"
date: 2016-07-16
source_url: https://www.facebook.com/avvsansalvador.torneiros
source_name: Asociación de Vecinos San Salvador de Torneiros
location: Torneiros, Porriño
image: 2012-2020/f4/4d745d-a5dc-4608-84f9-129efff55610.jpeg
---