---
layout: post
tags: ["post", "rastrexo", "2016"]
title: I Rastrexo de Amorín
date: 2016-04-30
source_url: 
source_name: 
location: Amorín, Tomiño
image: 2012-2020/1a/e7c126-0767-4e2f-a346-3a45441b89d6.jpeg
---