---
layout: post
tags: ["post", "infantil", "2016"]
title: I Rastrexo Infantil de Mondariz
date: 2016-07-31
source_url: https://www.facebook.com/omix.mondariz
source_name: OMIX Concello de Mondariz
location: Mondariz
image: 2012-2020/93/0a4e0e-8338-4bad-8f3f-cd31651c9c92.jpg
---
