---
layout: post
tags: ["post", "rastrexo", "2016"]
title: I Rastrexo de Cristelos "Rastrexo en Festas"
date: 2016-04-16
source_url: 
source_name: 
location: Cristelos, Tomiño
image: 2012-2020/62/e2db87-8b21-4f09-9dd0-ce99956d7724.jpg
---