---
layout: post
tags: ["post", "rastrexo", "2016"]
title: I Rastrexo de Estás
date: 2016-09-24
source_url: https://www.facebook.com/rastrexoestas/
source_name: Comparsa Luces
location: Estás, Tomiño
image: 2012-2020/05/8c00a4-65f5-4c4e-bb4a-de7d3a007b6a.jpg
---