---
layout: post
tags: ["post", "rastrexo", "2016"]
title: II Rastrexo de Herville
date: 2016-07-30
source_url: https://www.facebook.com/acsherville/
source_name: Asociación Cultural e Social de Herville
location: Herville, Mos
image: 
---