---
layout: post
tags: ["post", "rastrexo", "2016"]
title: II Rastrexo Marenum San Salvador de Tebra
date: 2016-10-22
source_url: https://www.facebook.com/rastrexomarenum/
source_name: Cervecería Marenum
location: San Salvador de Tebra, Tomiño
image: 2012-2020/9f/bc642d-bf72-4e53-b859-13fea7166d06.jpg
---