---
layout: post
tags: ["post", "rastrexo", "2016"]
title: III Rastrexo de Torneiros
date: 2016-09-17
source_url: https://www.facebook.com/profile.php?id=100012406548602
source_name: Asociación de Vecinos San Salvador de Torneiros
location: Torneiros, Porriño
image: 2012-2020/f1/76bc0f-b496-4381-b82a-180962e26753.jpg
---