---
layout: post
tags: ["post", "rastrexo", "2016"]
title: III Rastrexo de Santa Eulalia de Batallans
date: 2016-05-14
source_url: 
source_name: 
location: Batalláns, As Neves
image: 2012-2020/6c/fc07e7-716f-439c-9f77-23e466acfcef.jpeg
---