---
layout: post
tags: ["post", "rastrexo", "2016"]
title: IV Rastrexo de San Pedro
date: 2016-06-25
source_url: https://www.facebook.com/profile.php?id=100008231177844
source_name: 
location: Batalláns, As Neves
image: 2012-2020/ee/e6476d-529e-42f1-a3e9-8b2256def0fa.jpeg
---