---
layout: post
tags: ["post", "rastrexo", "2016"]
title: IV Rastrexo Vila das Neves
date: 2016-08-14
source_url: https://www.facebook.com/nieves.clubdefutbol
source_name: Nieves Futbol Club
location: As Neves
image: 2012-2020/b8/8b34f6-352e-463c-93b5-4b12d7e92a54.jpeg
---
