---
layout: post
tags: ["post", "rastrexo", "2016"]
title: Los Juegos del Hambre (Parte II)
date: 2016-07-09
source_url: https://www.facebook.com/carnavales.sanesteban/
source_name: Comparsa Talismán
location: San Esteban de Budiño, Salceda de Caselas
image: 2012-2020/4c/0f210c-7d28-4b33-96b5-deba368f0579.jpeg
---