---
layout: post
tags: ["post", "rastrexo", "2016"]
title: Rastrexo Pirata
date: 2016-05-14
source_url: 
source_name: 
location: Taborda, Tomiño
image: 2012-2020/63/ef70d1-cc80-40fa-97c5-2f20d8bcdc5b.jpeg
---