---
layout: post
tags: ["post", "rastrexo", "2016"]
title: Rastrexo de Couso
date: 2016-06-18
source_url: https://www.facebook.com/Rastrexo-Couso-1704453026509884/
source_name: Comunidade de Montes de Couso e Grupo Rastrexo Avispados
location: Couso, Gondomar
image: 2012-2020/e8/1631eb-ea4f-4410-859e-614a4df252ba.jpeg
---