/* Variables */
:root {
  --brand-dark-blue: #0d0a4c;
  --brand-light-blue: #259cf4;
  --almost-black: #1b1c1d;
  --breakpoint: 500px;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: sans-serif;
}

/* Fuentes */
@font-face {
  font-family: "Survivor Wood";
  src: url("/recursos/fonts/Survivor-Wood.eot");
  src: url("/recursos/fonts/Survivor-Wood.woff") format("woff"),
    url("/recursos/fonts/Survivor-Wood.woff2") format("woff2"),
    url("/recursos/fonts/Survivor-Wood.ttf") format("truetype");
}

/* Layout */
#layout-base {
  display: grid;
  grid-template-rows: 90px 1fr 40px;
  grid-template-columns: 1fr;
  height: 100dvh;
}

#main-container {
  /* margin-top: 50px; */
  position: relative;
  z-index: 10;
  margin-top: 10px;
}

/*
* Source
* https://alvarotrigo.com/blog/animated-backgrounds-css/
* Wave background animation
* Thank you!
*/
.animated-bg-wrapper {
  z-index: 0;
}
.animated-section {
  position: relative;
  width: 100%;
  height: 170px;
  padding-top: 1rem;
  background: #bae1ff;
  overflow: hidden;
  z-idnex: 5;
}
.animated-section .air {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: url(/recursos/wave.png);
  background-size: 1000px 80px;
}
.animated-section .air.air1 {
  animation: wave 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
.animated-section .air.air2 {
  animation: wave2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
.animated-section .air.air3 {
  animation: wave 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
.animated-section .air.air4 {
  animation: wave2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes wave {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes wave2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1000px;
  }
}

.page-center-content {
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

/** Para pantallas grandes */
#layout-base .page-content {
  max-width: var(--breakpoint);
  width: 100%;
}

footer {
  height: fit-content;
}

#main-header {
  width: 100%;
  height: 100%;
  box-shadow: 0 7px 10px -5px gray;
}

#main-header .header-icon {
  font-size: 1.5rem;
}

#main-header .wrapper {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 0rem 1rem;
  width: 100%;
  height: 100%;
  max-width: var(--breakpoint);
  margin: 0 auto;
}

#main-footer {
  background-color: var(--almost-black);
  width: 100%;
  height: 100%;
}

#main-footer .wrapper {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 0rem 1rem;
  width: 100%;
  height: 100%;
  max-width: var(--breakpoint);
  margin: 0 auto;
}

#main-footer .left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#main-footer p {
  margin: 0;
}

#main-footer a {
  color: white;
}

#main-footer a:hover {
  color: var(--brand-light-blue);
}

#rastrexando-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 0.5rem;
}

#rastrexando-logo .title {
  font-family: "Survivor Wood";
  font-size: 2rem;
}

#rastrexando-logo img {
  max-width: 200px;
  max-height: 80px;
}

/* Page */
.page {
  padding: 1.5rem 1rem;
}

.page h1,
.page h2 {
  padding: 0;
  margin: 0;
}

/** Global */
a {
  color: var(--brand-dark-blue);
}

a:hover {
  color: var(--brand-light-blue);
}

hr {
  border: var(--brand-dark-blue) 1px solid;
}

.table {
  width: fit-content;
  border-collapse: collapse;
}

.table th {
  color: var(--brand-dark-blue);
}

.table th, .table td {
  padding: .5rem 1rem;
}

.table tr:hover td, .table tr:hover td a {
  background-color: var(--brand-light-blue);
  color: white;
}

.table tr:nth-child(even) {
  background-color: aliceblue;
}

/* Page index */
.post {
  margin-top: 0.7rem;
  margin-bottom: 2rem;
}

.post .date {
  margin-top: 0.5rem;
}

.post .location {
  margin: 0;
  margin-top: 0.3rem;
}

.post a:hover {
  color: var(--bsrand-light-blue);
}

.post h2 {
  font-size: 1.3rem;
  margin-top: 0.5rem;
}

.post header {
  text-align: left;
  /* color: var(--brand-dark-blue); */
}

.post header hr {
  color: var(--brand-dark-blue);
  margin: 0.2rem 0;
}

.pagination {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding: 0;
}

.pagination a {
  color: var(--brand-dark-blue);
}

.pagination a:hover {
  color: var(--brand-light-blue);
}

.post .details {
  margin: 0;
  padding: 0;
  list-style: none;
}
.post .details li {
  padding: 0.2rem 0;
  font-size: 1.1rem;
}

/* Page post */
.page-post {
  padding: 0.3rem 1rem;
}

.page-post h1 {
  text-align: center;
}

.page-post .date {
  margin-top: 0.5rem;
}

.page-post .image {
  max-width: 100%;
  margin: 1rem 0;
}

.page-post .details {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-post .details li {
  padding: 0.2rem 0;
  font-size: 1.1rem;
}

.page-header i,
.page-header h1 {
  font-size: 1.6rem;
  margin: 0;
}

/* Page calendar */
.page-calendar {
  padding: 0.3rem 1rem;
}

.page-calendar h1 {
  text-align: center;
}

/* Sections */
.video-section {
  margin: 1rem 0;
}

.video-section h2 {
  color: var(--brand-dark-blue);
}

.video-section .video-list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Utils */
.is-light-blue {
  color: var(--brand-light-blue);
}

.link,
.link i {
  color: var(--brand-dark-blue);
}

.link:hover,
.link i:hover {
  color: var(--brand-light-blue) !important;
}

.is-survivor-font {
  font-family: "Survivor Wood";
}

.relative {
  position: relative;
}

.not-allowed {
  cursor: not-allowed;
  color: grey;
}

.is-flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.z-50 {
  z-index: 50;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* Short codes */
.prev-next-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.highlight-calendar {
  padding: 1rem;
  background-color: var(--brand-dark-blue);
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
}

.highlight-calendar:hover {
  background-color: var(--brand-light-blue);
  color: var(--brand-dark-blue);
  font-weight: bold;
}

.breadcrumbs {
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.breadcrumbs ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  flex-wrap: nowrap;
}
