---
layout: post
tags: ["post", "andaina", "2023"]
title: Rastrexo musical
date: 2023-09-16
source_url: https://www.facebook.com/asociacionculturalverducido
source_name: Asociación Cultural de Verducido
location: Verducido de Xeve, Pontevedra
image: /2023/rastrexo-musical-verducido.jpeg
---

