---
layout: post
tags: ["post", "rastrexo"]
title: Rastrexo Especial Postsamain CEIP da Cruz Camos
date: 2023-11-25
source_url: https://www.facebook.com/profile.php?id=100057577212657
source_name: Rastrexo Camos
location: Camos, Nigrán
image: 2023/2023-11-25-rastrexo-postsamain.jpeg
---

