---
layout: post
tags: ["post", "andaina", "2023"]
title: Andaina nocturna con probas
date: 2023-09-23
source_url: https://www.facebook.com/CastroBarreiroNSN
source_name: Carnaval Castro Barreiro
location: Salceda de Caselas
image: 2023/2023-09-18-andaina-nocturna.jpeg
---

