---
layout: post
tags: ["post", "rastrexo", "2023"]
title: 7ª Andaina nocturna "O camiño do terror"
date: 2023-11-25
source_url: https://www.facebook.com/OCaminodoTerror
source_name: Centro Cultural Parada
location: Parada, Nigrán
image: 2023/7-andaina-nocturna.jpeg
---

