---
layout: post
tags: ["post", "rastrexo", "2018"]
title: II Rastrexo Lendas de Taboexa
date: 2018-09-01
organizers:
  - cipc-san-mamed-taboexa
location: Taboexa, As Neves
image: 2012-2020/73/4c97de-b459-4dd7-a276-60e1de6f16a9.jpg
---