---
layout: post
tags: ["post", "rastrexo", "2018"]
title: II Rastrexo Lendas de Taboexa
date: 2018-09-01
source_url: https://www.facebook.com/cipcsanmamed.taboexa?hc_ref=ARQ6KZN8EczGrFH-Ei9jvefTGpsH_El03uzgiaVS3nL991X0hU9Ii_3Xe4P8KW_uHmI
source_name: CIPC San Mamed Taboexa
location: Taboexa, As Neves
image: 2012-2020/73/4c97de-b459-4dd7-a276-60e1de6f16a9.jpg
---