---
layout: post
tags: ["post", "rastrexo", "2018"]
title: III Rastrexo Costeira
date: 2018-06-02
source_url: https://www.facebook.com/Rastrexo-costeira-830836753712618/
source_name: Rastrexo Costeira
location: A Costeira, Porriño
image: 2012-2020/32/8b6238-323e-4e3c-9d03-09154ff08a92.jpg
---