---
layout: post
tags: ["post", "infantil", "2018", "rastrexo"]
title: II Rastrexo Infantil Vincios
date: 2018-08-04
organizers:
  - avv-galineiro-de-vincios
location: Vincios, Gondomar
image: 2012-2020/05/158719-5565-4504-a502-84393fca01fa.jpg
---