---
layout: post
tags: ["post", "rastrexo", "2018"]
title: II Rastrexo Lobariñas - Crecente "A Aldea do Terror"
date: 2018-05-05
organizers:
  - rastrexo-lobarinas
location: Lobariñas, Crecente
image: 2012-2020/6c/b64119-dc7d-4ef7-94e5-6233f3fd75cd.jpeg
---