---
layout: post
tags: ["post", "rastrexo", "2018"]
title: V Rastrexo de Pereiras
date: 2018-07-07
organizers:
  - rastrexo-pereiras
location: Pereiras, Mos
image: 
videos:
  - id: "p36CBl9UuM8"
    title: "SPOT 01 - V RASTREXO DE PEREIRAS"
    published: 2018-04-28
    channel: "Rastrexo de Pereiras"
  - id: "Tib0hVddfSY"
    title: "SPOT - A CAVERNA DO TERROR - RASTREXO DE PEREIRAS"
    published: 2018-05-12
    channel: "Rastrexo de Pereiras"
  - id: "xMqZnEHQ_84"
    title: "SPOT 2   RASTREXO  2018"
    published: 2018-06-16
    channel: "Rastrexo de Pereiras"
  - id: "di_EvBUMeHk"
    title: "SPOT - PROBA WINCHESTER"
    published: 2018-06-23
    channel: "Rastrexo de Pereiras"
---