---
layout: post
tags: ["post", "outro", "2018"]
title: Orienta-Tea 2018
date: 2018-09-08
source_url: 
source_name: Concello de Mondariz
location: Praia Fluvial do Val Mondariz, Mondariz
image: 2012-2020/10/c61138-8736-4a2f-a8c1-9363192f7643.jpg
---