---
layout: post
tags: ["post", "rastrexo", "2018"]
title: IV Rastrexo Piñeiro "Buscando a Nemo"
date: 2018-06-09
source_url: https://www.facebook.com/romeriacabalo/
source_name: Romería Cabalar Piñeiro
location: Piñeiro, Tomiño
image: 2012-2020/c2/aca3fd-64cc-430b-9a31-a8f3500a0cbc.jpeg
---