---
layout: post
tags: ["post", "rastrexo", "2018"]
title: II Rastrexo Barca de Loimil-Arbo "Imos de Romaría"
date: 2018-08-11
organizers:
  - asociacion-cultural-barca-de-loimil-arbo
location: Barca de Loimil, Arbo
image: 2012-2020/b9/5516cd-2506-4d1c-97ab-35b8b2159806.jpg
---