---
layout: post
tags: ["post", "infantil", "2018", "rastrexo"]
title: Superheroes
date: 2018-05-20
organizers:
  - comision-de-festas-da-peregrina
location: Meira, Moaña
image: 2012-2020/3c/945782-dca2-4325-a879-1e6318874699.jpeg
---