---
layout: post
tags: ["post", "infantil", "2018"]
title: VI Rastrexo Infantil Fornelos e Lourido
date: 2018-07-13
source_url: https://www.facebook.com/RastrexoInfantilFornelosLourido/
source_name: Rastrexo infantil Fornelos e Lourido
location: Fornelos da Ribeira, Salvaterra de Miño
image: 2012-2020/a1/d13d33-e813-4da4-b5fc-45aa48d1ad74.png
---