---
layout: post
tags: ["post", "infantil", "2018"]
title: Superheroes
date: 2018-05-20
source_url: https://www.facebook.com/fiestasdelaperegrinademeira/
source_name: Festas da Peregrina Meira
location: Meira, Moaña
image: 2012-2020/3c/945782-dca2-4325-a879-1e6318874699.jpeg
---