---
layout: post
tags: ["post", "rastrexo", "2018"]
title: Rastrexo Vincios "Eu Fun a EXB"
date: 2018-07-14
organizers:
  - avv-galineiro-de-vincios
location: Vincios, Gondomar
image: 2012-2020/b4/8b6950-6667-415a-b410-f9d4ab71fd1b.jpg
---