---
layout: post
tags: ["post", "rastrexo", "2018"]
title: III Rastrexo Imperio A Turonia
date: 2018-04-14
source_url: https://www.facebook.com/aturonia/
source_name: A Turonia
location: Entenza, Salceda de Caselas
image: 2012-2020/4a/ce9bbc-06a5-44ff-b152-a7b63ec09c7a.jpg
---