---
layout: post
tags: ["post", "rastrexo", "2018"]
title: Rastrexo Vincios "Eu Fun a EXB"
date: 2018-07-14
source_url: https://www.facebook.com/profile.php?id=100004974829035&hc_ref=ARSZkZUbefX7u0d1gAo3sVMjqCgKMyPpX8s6KzhTgAFeJvK6P6osSbgM8b5kH-qIdOQ
source_name: AVV Galiñeiro de Vincios
location: Vincios, Gondomar
image: 2012-2020/b4/8b6950-6667-415a-b410-f9d4ab71fd1b.jpg
---