---
layout: post
tags: ["post", "rastrexo", "2018"]
title: IV Rastrexo de Areas
date: 2018-07-14
source_url: https://www.facebook.com/rastrexoareas/
source_name: Rastrexo Areas
location: Areas, Ponteareas
image: 2012-2020/94/c3d4c5-5594-46c5-9907-38836abf21d4.jpeg
---