---
layout: post
tags: ["post", "infantil", "2018", "rastrexo"]
title: II Rastrexo Infantil de Oliveira "Pijama Party"
date: 2018-07-28
organizers:
  - rastrexo-oliveira
location: Santiago de Oliveira, Ponteareas
image:
---
