---
layout: post
tags: ["post", "infantil", "2018"]
title: II Rastrexo Infantil de Oliveira "Pijama Party"
date: 2018-07-28
source_url: https://www.facebook.com/rastrexo.oliveira/
source_name: Rastrexo Oliveira
location: Santiago de Oliveira, Ponteareas
image:
---
