---
layout: post
tags: ["post", "rastrexo", "2018"]
title: II Rastrexo Soutelo Jumanji
date: 2018-06-16
organizers:
  - entroido-soutelo
location: Soutelo, Salceda de Caselas
image: 2012-2020/d9/0647fc-17d4-438a-a72d-9bf0f1bb7281.jpg
---