---
layout: post
tags: ["post", "rastrexo", "2018"]
title: V Rastrexo de Fornelos
date: 2018-08-18
source_url: 
source_name: Asociación Cultural As Dores de Fornelos
location: Fornelos, Salvaterra de Miño
image: 2012-2020/1f/cc04a2-537c-4acb-a9f7-bd9dd883b7a7.jpg
---