---
layout: post
tags: ["post", "rastrexo", "2018"]
title: IV Rastrexo de Villar
date: 2018-07-21
source_url: https://www.facebook.com/RastrexoDeVillar/?fref=ts
source_name: Rastrexo de Villar
location: Vilar, Crecente
image: 2012-2020/08/980d4a-50f6-4799-9eb2-1f6bfbe7cd2d.jpg
---