---
layout: post
tags: ["post", "rastrexo", "2018"]
title: VI Rastrexo de Guláns
date: 2018-07-21
source_url: https://www.facebook.com/RastrexoGulans-Gulans-771944396173859/?fref=ts
source_name: Rastrexo Gulans
location: Guláns, Ponteareas
image: 2012-2020/c2/dfaf6a-1e3e-4174-b562-4675f351bf92.jpeg
---