---
layout: post
tags: ["post", "2018", "rastrexo"]
title: I Rastrexo Ponte a Fuxir
date: 2018-04-21
organizers:
  - ponte-a-fuxir
location: Salcedo, Pontevedra
image: 2012-2020/83/688de6-dbc1-41c6-9d93-0d76712c3246.jpg
videos:
  - id: "9oAfg5hSk2Q"
    title: "I RASTREXO PONTE A FUXIR PONTEVEDRA - SALCEDO 21 ABRIL 2018"
    published: 2018-03-12
    channel: "Rastrexo Ponteafuxir"
---
