---
layout: post
tags: ["post", "andaina", "2018"]
title: Andaina Nocturna Extrema San Xurxo
date: 2018-03-24
source_url: https://www.facebook.com/events/160788404623185
source_name: Carnaval San Xurxo
location: San Xurxo, Salceda de Caselas
image: 2012-2020/51/f2a1c0-9664-42fb-bd3e-7f92e38300ce.jpg
---