---
layout: post
tags: ["post", "andaina", "2018"]
title: IV Andaina “O Camiño do terror” (venres)
date: 2018-08-24
organizers:
  - centro-cultural-recreativo-parada-do-minor
location: Parada, Nigrán
image: 
---