---
layout: post
tags: ["post", "andaina", "2018"]
title: V Andaina Nocturna Eiras
date: 2018-08-25
organizers:
  - comparsa-ciklon
location: Eiras, O Rosal
image: 2012-2020/b9/5a7ae0-9d46-404f-8b9d-23340ebf4479.jpg
---