---
layout: post
tags: ["post", "rastrexo", "2018"]
title: XVI Rastrexo de Pexegueiro “Juego de Tronos”
date: 2018-08-25
source_url: https://www.facebook.com/profile.php?id=100005506787811
source_name: 
location: Pexegueiro, Tui
image: 2012-2020/e3/4ee574-d247-4a4a-9309-da140248d994.jpeg
---