---
layout: post
tags: ["post", "rastrexo", "2018"]
title: III Rastrexo Tameiga
date: 2018-05-26
organizers:
  - comision-de-festas-san-eleuterio
location: Tameiga, Mos
image: 2012-2020/bf/d24144-973c-4ab2-8542-7130c4eb2965.jpeg
---