---
layout: post
tags: ["post", "rastrexo", "2018"]
title: I Rastrexo de Nigrán
date: 2018-07-28
organizers:
  - comision-de-fiestas-de-as-angustias
  - asociacion-cultural-as-angustias
location: As Angustias, Nigrán
image: 
---