---
layout: post
tags: ["post", "andaina", "2018"]
title: Andaina Terrorífica
date: 2018-10-31
source_url: https://www.facebook.com/carnavales.sanesteban/?hc_ref=ARSn8YuNf5ZUqAJ9pmFfGi1sjApcLgCCUuiiAtD_vDtB0GdIFLHabT-_FYRbKuPek7U
source_name: Comparsa Talismán
location: San Esteban de Budiño, Salceda de Caselas
image: 2012-2020/bb/62508d-4b2a-4e26-a6e0-5afcf5c70bcb.jpg
---