/* Variables */
:root {
	--brand-dark-blue: #0C0A4Bff;
	--brand-light-blue: #2497EFff;
}

/* Reset */
body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: sans-serif;
}

/* Layout base */
#layout-base {
	max-width: 600px;
	margin: 0 auto;
}

#layout-base > aside {
	height: 100dvh;
	background-color: white;
}

#main-header .container-padding {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	align-items: center;
}

#rastrexando-logo img {
	margin-bottom: 2rem;
}

.container-padding {
	padding: 1rem;
}

.nav-post {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	margin-bottom: 1rem;
	align-items: center;
}

.nav-post .date {
	display: flex;
	flex-direction: column;
	color:  var(--brand-dark-blue);
	font-weight: bold;
	text-align: center;
	font-size: 1.1rem;
	gap: .5rem;
}

.nav-post a {
	color:  var(--brand-light-blue);
	font-weight: bold;
	font-size: 1.2rem;
}

.nav-post a.active {
	color:  black;
	text-decoration: none;
	cursor: default;
}

/* Útiles */
.image {
	max-width: 100%;
}
