---
layout: post
tags: ["post", "rastrexo", "2015"]
title: 2º Desafío 4 Estacións de Couso “Rastrexo do Zodíaco”
date: 2015-04-18
source_url: 
source_name: 
location: Couso, Gondomar
image: 2012-2020/aa/1315df-fde0-44b4-b684-1f139b55b083.jpg
---