---
layout: post
tags: ["post", "rastrexo", "2015"]
title: 4º Reto do Desafío 4 Estacións "Rastrexo Tenebroso"
date: 2015-11-07
source_url: 
source_name: 
location: Couso, Gondomar
image: 2012-2020/56/a66a8a-0eaa-4f9d-b692-3c82a6f1e5a4.jpg
---