---
layout: post
tags: ["post", "rastrexo", "2015"]
title: I Rastrexo de Villar
date: 2015-09-05
source_url: 
source_name: 
location: Vilar, Crecente
image: 
videos:
  - id: "OQvBFDAJFTg"
    title: "Leonidas - Rastrexo de Villar 2015"
    published: 2015-09-08
    channel: "Deiv"
  - id: "QuqNPkYCcZk"
    title: "Promo Rastrexo Villar  Vídeo Previo"
    published: 2015-08-27
    channel: "RastrexoVillar Rastrexador"
  - id: "OOIi-omoPx0"
    title: "Rastrexo Villar, el día despues con SPITOCOFO"
    published: 2015-09-11
    channel: "RastrexoVillar Rastrexador"
  - id: "8hK3dN_yv2k"
    title: "ESPALDAS MOJADAS, pasando á modiño!  1º Rastrexo de Villar."
    published: 2015-09-11
    channel: "RastrexoVillar Rastrexador"
  - id: "vutNrLvTxLk"
    title: "LEONIDAS Maru. Prueba \"espaldas mojadas\" y por los peloos!"
    published: 2015-09-11
    channel: "RastrexoVillar Rastrexador"
  - id: "07vfIjXQxZ0"
    title: "EQUIPO A. Cruza Santi."
    published: 2015-09-11
    channel: "RastrexoVillar Rastrexador"
---