---
layout: post
tags: ["post", "rastrexo", "2015"]
title: I Rastrexo de Piñeiro
date: 2015-06-13
source_url: 
source_name: 
location: Piñeiro, Tomiño
image: 2012-2020/12/1ffc6e-16d3-42be-b0b6-bce04dbdbe70.jpg
videos:
  - id: "d0owhll_4bI"
    title: "PROMO - I Rastrexo Piñeiro 2015 - (13 de Xuño)"
    published: 2015-05-29
    channel: "Rastreo Piñeiro San Lorenzo"
---