---
layout: post
tags: ["post", "rastrexo", "2015"]
title: I Rastrexo de S. Bartolomeu "As Olimpiadas"
date: 2015-07-18
source_url: 
source_name: 
location: San Bartolomeu, Tui
image: 2012-2020/49/4470f9-363d-4918-9eb5-7f7582075efa.jpeg
---