---
layout: post
tags: ["post", "rastrexo", "2015"]
title: I Rastrexo da Costeira
date: 2015-05-30
source_url: 
source_name: 
location: Mosende, O Porriño
image: 2012-2020/a3/7412a1-ddac-4010-bff2-9be945bae2fb.jpg
---