---
layout: post
tags: ["post", "rastrexo", "2015"]
title: I Rastrexo de Piñeiro
date: 2015-06-13
source_url: 
source_name: 
location: Piñeiro, Tomiño
image: 2012-2020/12/1ffc6e-16d3-42be-b0b6-bce04dbdbe70.jpg
videos:
  - id: "d0owhll_4bI"
    title: "PROMO - I Rastrexo Piñeiro 2015 - (13 de Xuño)"
    published: 2015-05-29
    channel: "Rastreo Piñeiro San Lorenzo"
  - id: "8uc7VMMYc4o"
    title: "I Rastrexo de Piñeiro (Circuito 1)"
    published: 2015-06-19
    channel: "Os Torakka"
  - id: "1HTD6l6U-Pc"
    title: "I Rastrexo de Piñeiro (Circuito 2)"
    published: 2015-06-19
    channel: "Os Torakka"
---