---
layout: post
tags: ["post", "rastrexo", "2015"]
title: II Rastrexo de Pereiras “SINAIS”
date: 2015-07-04
source_url: 
source_name: 
location: Pereiras, Mos
image: 2012-2020/eb/b27762-9156-4584-aab5-faa52ba435cb.jpg
videos:
  - id: "n9Ly7mSXtOk"
    title: "2º Rastrexo de Pereiras (Os Torakka)"
    published: 2015-07-08
    channel: "Os Torakka"
---