---
layout: post
tags: ["post", "rastrexo", "2015"]
title: II Rastrexo de Cristiñade
date: 2015-07-18
source_url: 
source_name: 
location: Cristiñade, Ponteareas
image: 2012-2020/0a/050431-0b2c-4095-a6c7-4bf73e3d4288.jpg
videos:
  - id: "qVvLvocGY_M"
    title: "Rastrexo 2015 HD 720p"
    published: 2015-05-30
    channel: "fotoimag"
  - id: "jXX2vwSR_jU"
    title: "Rastrexo Cristiñade Prueba puente puzzle"
    published: 2015-09-12
    channel: "edusam29"
  - id: "bdDBA5qQV44"
    title: "Rastrexo cristiñade pasarela de red"
    published: 2015-09-12
    channel: "edusam29"
  - id: "de5U6DGwlEg"
    title: "Rastrexo Cristiñade puente de palets video 2"
    published: 2015-09-12
    channel: "edusam29"
  - id: "5KTwEyxV8DI"
    title: "Resumen II Rastrexo Cristiñade 2015"
    published: 2015-07-28
    channel: "fotoimag"
---