---
layout: post
tags: ["post", "rastrexo", "2015"]
title: II Rastrexo de Entenza "Imperio A Turonia"
date: 2015-10-24
source_url: 
source_name: 
location: Entrenza, Salceda de Caselas
image: 2012-2020/ce/2e91cb-c4fb-4683-9fec-32ca8a4f2a9a.jpg
---