---
layout: post
tags: ["post", "rastrexo", "2015"]
title: II Rastrexo de Torneiros
date: 2015-11-14
source_url: 
source_name: 
location: Torneiros, Porriño
image: 2012-2020/ec/1f9894-a8ca-429b-a06b-838d5ec78642.jpg
videos:
  - id: "jMJ1k_yh34s"
    title: "2º Rastrexo de Torneiros (Os Torakka)"
    published: 2015-11-17
    channel: "Os Torakka"
  - id: "gHmRL0Le2CA"
    title: "OLLOMOLES 2º RASTREXO TORNEIROS 14-11-2015"
    published: 2015-11-16
    channel: "Sueiro"
---