---
layout: post
tags: ["post", "rastrexo", "2015"]
title: II Rastrexo de Fornelos da Ribeira
date: 2015-08-01
source_url: 
source_name: 
location: Fornelos da Ribeira, Salvaterra de Miño
image: 2012-2020/88/cabe02-c253-4939-bcfe-3edc64565614.jpg
---