---
layout: post
tags: ["post", "rastrexo", "2015"]
title: II Rastrexo San Esteban de Budiño
date: 2015-10-31
source_url: 
source_name: 
location: San Esteban de Budiño, Salceda de Caselas
image: 2012-2020/f6/ab96c5-a766-40c2-93be-8f941445f91b.jpg
videos:
  - id: "sQ-9w1p5c-U"
    title: "2º Rastrexo de Budiño (Os Torakka)"
    published: 2015-11-05
    channel: "Os Torakka"
  - id: "t3lbvl_fqVw"
    title: "Rastrexo Budiño 2015. Pasarela Movediza"
    published: 2015-12-12
    channel: "Sapoconchos Mutenroi"
  - id: "U08LwbznreE"
    title: "Final rastrexo de Budiño  (Cazafantasmas TEAM )"
    published: 2016-01-23
    channel: "Cazafantasmas Team"
---