---
layout: post
tags: ["post", "rastrexo", "2015"]
title: III Rastrexo de Moreira
date: 2015-09-05
organizers:
  - asociacion-crd-san-martin-de-moreira
location: Moreira, Ponteareas
image: 
videos:
  - id: "9AES5BI7DJ4"
    title: "Así fue el Rastrexo de Moreira, en Ponteareas"
    published: 2015-09-11
    channel: "Faro de Vigo"
---