---
layout: post
tags: ["post", "rastrexo", "2015"]
title: III Rastrexo de San Pedro de Batalláns
date: 2015-06-20
source_url: 
source_name: 
location: San Pedro de Batalláns, As Neves
image: 
videos:
  - id: "61CMGbEcnbA"
    title: "3º Rastrexo San Pedro Batalláns"
    published: 2015-06-25
    channel: "Os Torakka"
---