---
layout: post
tags: ["post", "rastrexo", "2015"]
title: IV Rastrexo Arcos
date: 2015-08-29
source_url: 
source_name: Casa Cultural de Arcos
location: Arcos, Ponteareas
image: 2012-2020/47/3d319e-bd93-4d5b-a974-4fb9ea5d99b8.jpg
---