---
layout: post
tags: ["post", "infantil", "2015"]
title: VI Rastrexo de Celeiros “Súper Celeiros”
date: 2015-07-31
source_url: 
source_name: 
location: Celeiros, Ponteareas
image: 2012-2020/52/4acd8a-265b-40bd-9340-e97184c10376.jpg
---