---
layout: post
tags: ["post", "rastrexo", "2015"]
title: X Rastrexo de Fozara
date: 2015-08-15
source_url: 
source_name: 
location: Fozara, Ponteareas
image: 2012-2020/43/61a26b-212c-4b6c-b429-fc16cac54960.jpg
---