---
layout: post
tags: ["post", "rastrexo", "2015"]
title: XIII Rastrexo de Pexegueiro
date: 2015-08-01
source_url: 
source_name: 
location: Pexegueiro, Tui
image: 2012-2020/62/86e4f4-a308-43bf-bb4c-cc243613ef33.jpg
---