---
layout: post
tags: ["post", "rastrexo", "2014"]
title: I Rastrexo de Santa Eulalia de Batalláns
date: 2014-06-28
source_url: 
source_name: 
location: Santa Eulalia de Batalláns, As Neves
image: 
---