---
layout: post
tags: ["post", "rastrexo", "2014"]
title: 1º Rastrexo Benéfico Mouriscados
date: 2014-07-12
source_url: 
source_name: 
location: Mouriscados, Mondariz
image: 2012-2020/78/cedd02-1a92-45bf-aa79-c6625282ae64.jpg
---