---
layout: post
tags: ["post", "rastrexo", "2014"]
title: VIII Rastrexo de Fozara "A Lenda das Pipas"
date: 2014-08-16
source_url: 
source_name: Centro Cultural Fozara
location: Fozara, Ponteareas
image: 2012-2020/48/cca4b8-2d52-4ffe-8530-277e1da00a03.jpg
---