---
layout: post
tags: ["post", "rastrexo", "2018"]
title: Rastrexo Entroido Picoña
date: 2018-09-29
source_url: https://www.facebook.com/entroidopiconha/
source_name: Entroido Picoña
location: A Picoña, Salceda de Caselas
image: 2012-2020/d1/269ed9-dd97-4515-9784-f0ff1d49cdae.jpeg
---