---
layout: post
tags: ["post", "rastrexo", "2018"]
title: I Rastrexo Festas da Peregrina - Meira
date: 2018-06-02
source_url: https://goo.gl/forms/Y7e3IMBQs9YaXmtc2
source_name: Comisión de Festas da Peregrina
location: Meira, Moaña
image: 2012-2020/d5/24eb5b-3ef2-464c-80ab-d11911b48cb3.jpg
---