---
layout: post
tags: ["post", "andaina", "2018"]
title: Andaina Nocturna con probas Castro Barreiro 2018
date: 2018-10-06
source_url: http://carnavalcastrobarreiro.com
source_name: Carnaval Castro Barreiro
location: Centro Cultural Castro Barreiro, Salceda de Caselas
image: 2012-2020/9b/57bfd7-6ba7-4993-9019-c64c3330d2a9.jpg
---