---
layout: post
tags: ["post", "rastrexo", "2018"]
title: II Rastrexo Barca de Loimil-Arbo "Imos de Romaría"
date: 2018-08-11
source_url: https://www.facebook.com/Barca-de-Loimil-113324502355872/?hc_ref=ARSlIqTW2Bm_-Udf0F41-pijvFNv1r6XaSkxs2Dp_GUmzgL2-ujZaf3VhIPomR-BfxI&fref=nf
source_name: Asociación Cultural Barca de Loimil - Arbo
location: Barca de Loimil, Arbo
image: 2012-2020/b9/5516cd-2506-4d1c-97ab-35b8b2159806.jpg
---