---
layout: post
tags: ["post", "rastrexo", "2018"]
title: III Rastrexo da Picoña
date: 2018-05-12
source_url: https://www.facebook.com/rastrexopikona.salceda?fref=ts
source_name: Pikoña Salceda
location: A Picoña, Salceda de Caselas
image: 2012-2020/92/63d6ae-0969-4557-aa1b-10a49a7474c8.jpeg
---