---
layout: post
tags: ["post", "rastrexo", "2018"]
title: VI Rastrexo Vila de As Neves
date: 2018-08-14
source_url: https://nieves-futbol-club.reservio.com
source_name: Nieves F.C.
location: Campo de Fútbol de As Neves, As Neves
image: 2012-2020/17/4be45c-c1b4-4579-906c-46819f41537f.jpg
---