---
layout: post
tags: ["post", "rastrexo", "2018"]
title: II Rastrexo de Camos “Un paseo de recuerdos”
date: 2018-06-30
source_url: https://www.facebook.com/Comision-de-Camos-San-Roque-2017-1390557741001575/?fref=nf&pnref=story
source_name: Comunidad de Montes e Comisión de Festas de Camos
location: Camos, Nigrán
image: 2012-2020/03/bf8269-2e5e-49d7-afe8-783d14451da2.jpeg
---