---
layout: post
tags: ["post", "rastrexo", "2018"]
title: V Rastrexo de Torneiros
date: 2018-09-15
source_url: https://www.facebook.com/profile.php?id=100012406548602
source_name: 
location: Torneiros, Porriño
image: 2012-2020/9e/ca0a90-69bd-4fc2-851c-c47c5d8769f8.jpeg
---