---
layout: post
tags: ["post", "rastrexo", "2018"]
title: 3º Rastrexo de Amorín
date: 2018-05-19
source_url: https://www.facebook.com/rastrexoamorin/
source_name: Campo de Fútbol de Amorin
location: Campo de Fútbol de Amorin, Tomiño
image: 2012-2020/85/45fc7c-8fd7-4d94-a519-cb8c61e34750.jpg
---