---
layout: post
tags: ["post", "outro", "2018"]
title: I Rastrexo Ponte a Fuxir
date: 2018-04-21
source_url: https://www.facebook.com/PonteAFuxir/?ref=bookmarks
source_name: Ponte a Fuxir
location: Salcedo, Pontevedra
image: 2012-2020/83/688de6-dbc1-41c6-9d93-0d76712c3246.jpg
---