---
layout: post
tags: ["post", "andaina", "2018"]
title: V Andaina Nocturna Eiras
date: 2018-08-25
source_url: https://www.facebook.com/comparsaciklon/?hc_ref=ARTXP_u_odqLklUp7JLF2mDheqEshUwymuchDOaXADei2RBQzmnM7X-OzjVrgSg_n6o&fref=nf
source_name: Comparsa Ciklon
location: Eiras, O Rosal
image: 2012-2020/b9/5a7ae0-9d46-404f-8b9d-23340ebf4479.jpg
---