---
layout: post
tags: ["post", "rastrexo", "2018"]
title: III Rastrexo Tameiga
date: 2018-05-26
source_url: https://www.facebook.com/saneleuterio.tameiga.9/
source_name: Comisión de Festas San Eleuterio 2018
location: Tameiga, Mos
image: 2012-2020/bf/d24144-973c-4ab2-8542-7130c4eb2965.jpeg
---