---
layout: post
tags: ["post", "rastrexo", "2018"]
title: I Rastrexo de Nigrán
date: 2018-07-28
source_url: https://www.facebook.com/ASOCIACION-CULTURAL-AS-ANGUSTIAS-108305035928648/
source_name: Comisión de Fiestas y Asociación Cultural Las Angustias
location: As Angustias, Nigrán
image: 
---