---
layout: post
tags: ["post", "rastrexo", "2018"]
title: Rastrexo Extremo
date: 2018-04-28
source_url: 
source_name: 
location: San Xurxo, Salceda de Caselas
image: 2012-2020/09/02b371-530c-4d74-a3e9-3314b617bd97.jpg
---