---
layout: post
tags: ["post", "rastrexo", "2015"]
title: 3º Desafío 4 Estacións de Couso “Rastrexo Pirata”
date: 2015-06-27
source_url: 
source_name: 
location: Couso, Gondomar
image: 2012-2020/d2/513275-ec92-4442-b9ec-b2d9173483bf.jpg
---