---
layout: post
tags: ["post", "rastrexo", "2015"]
title: I Rastrexo de Rubiós
date: 2015-09-05
source_url: 
source_name: 
location: Rubiós, As Neves
image: 2012-2020/5f/66ceea-a153-43ae-83c6-2ff197d108fb.jpg
---