---
layout: post
tags: ["post", "rastrexo", "2015"]
title: I Rastrexo Veteranos Tomiñeses
date: 2015-06-20
source_url: 
source_name: 
location: Campo de Fútbol A Carballa, Tomiño
image: 2012-2020/45/73f0f3-6888-4285-913a-e095e2723e6b.jpg
---