---
layout: post
tags: ["post", "rastrexo", "2015"]
title: I Rastrexo de Vincios (CUVI
date: 2015-11-28
source_url: 
source_name: 
location: Vincios, Gondomar
image: 2012-2020/5b/e7ad5d-9595-4bda-9183-213180efdca2.jpg
---