---
layout: post
tags: ["post", "rastrexo", "2015"]
title: II Rastrexo de Santa Eulalia de Batalláns
date: 2015-05-09
source_url: 
source_name: 
location: Santa Eulalia de Batalláns, As Neves
image: 
---