---
layout: post
tags: ["post", "rastrexo", "2015"]
title: II Rastrexo de Cristiñade
date: 2015-07-18
source_url: 
source_name: 
location: Cristiñade, Ponteareas
image: 2012-2020/0a/050431-0b2c-4095-a6c7-4bf73e3d4288.jpg
---