---
layout: post
tags: ["post", "rastrexo", "2015"]
title: II Rastrexo San Esteban de Budiño
date: 2015-10-31
source_url: 
source_name: 
location: San Esteban de Budiño, Salceda de Caselas
image: 2012-2020/f6/ab96c5-a766-40c2-93be-8f941445f91b.jpg
---