---
layout: post
tags: ["post", "rastrexo", "2015"]
title: III Rastrexo de Moreira
date: 2015-09-05
source_url: 
source_name: Asociación C. R. D. San Martín de Moreira
location: Moreira, Ponteareas
image: 
---