---
layout: post
tags: ["post", "rastrexo", "2015"]
title: III Rastrexo de Maceira
date: 2015-08-22
source_url: 
source_name: 
location: Maceira, Covelo
image: 2012-2020/2d/bade77-516d-48b6-9982-a59cb784ebae.jpg
---