---
layout: post
tags: ["post", "rastrexo", "2015"]
title: VI Rastrexo de Oliveira
date: 2015-08-08
source_url: 
source_name: 
location: Oliveira, Ponteareas
image: 2012-2020/9e/5c1c89-20ec-46d7-8045-e910d25cd0fa.jpeg
---