---
layout: post
tags: ["post", "rastrexo", "2015"]
title: VI Rastrexo de Taborda
date: 2015-08-29
source_url: 
source_name: 
location: Taborda, Tomiño
image: 2012-2020/45/92ae5e-8b41-4181-8182-25771d084d1d.jpeg
---