---
layout: post
tags: ["post", "rastrexo", "2015"]
title: XVIII Rastrexo de Xinzo
date: 2015-08-22
source_url: 
source_name: Centro Cultural de Xinzo
location: Xinzo, Ponteareas
image: 2012-2020/f0/2a69d7-8862-4d39-81fc-b52f213280aa.jpg
---