---
layout: post
tags: ["post", "2024", "andaina"]
title: II Andaina Terrorífica
date: 2024-10-19
source_url: https://www.facebook.com/profile.php?id=100094030441582
source_name: Comparsa Os Imprescindibles
location: Coruxo, Vigo
image: 2024/ii-andaina-terrorifica.jpg
---

<p>E aquí está, por segundo ano consecutivo, o evento polo que máis tedes preguntado!!</p>
<p>Deixámosvos a información necesaria para que vos poidades anotar na II Andaina Terrorífica organizada pola nosa comparsa
  <a href="https://www.facebook.com/profile.php?id=100094030441582">@comparsa.osimprescindibles</a>
</p>
<p>Para calquera duda que vos poida xurdir, deixamos anotado o seguinte número de teléfono: 📞722 647 904</p>
<p>📥Ou podedes preguntar polas mensaxes directas da nosa conta.</p>
<p>📝Para anotarvos só tedes que poñervos en contacto con nós vía WhatsApp</p>
<p>💶Para obter información sobre cómo realizar o abono da inscripción, poñédevos en contacto con número que vos deixamos anotado.</p>
<p>Esperamos a vosa inscripción con ansias!</p>
<p>Vémonos o sábado 19 de outubro a partir das 21h no Torreiro de Festas de San Sebastián (Fragoselo - Coruxo).</p>
<p>💀🎃⚰️🕷️🦇👹🧟‍♀️🪦</p>
