---
layout: post
tags: ["post", "2024", "rastrexo"]
title: II Rastrexo de Coruxo
date: 2024-09-07
source_url: https://www.facebook.com/rastrexocoruxo
source_name: Unión Musical de Coruxo
location: Coruxo, Vigo
image: 2024/ii-rastrexo-coruxo.jpeg
---
