---
layout: post
tags: ["post", "rastrexo", "2024"]
title: Camiño do terror 2024
date: 2024-08-24
organizers:
  - centro-cultural-recreativo-parada-do-minor
location: Parada, Nigrán
image: 2024/camiño-terror-2024.jpg
---

