---
layout: post
tags: ["post", "rastrexo", "2024"]
title: IV Rastrexo solidario Verducido
date: 2024-08-31
organizers:
  - asociacion-cultural-de-verducido
location: Verducido de Xeve, Pontevedra
image: 2024/solidario-verducido.jpg
videos:
  - id: jjfuLsVLeuk
    title: "IV RASTREXO 2024 SOLIDARIO, LOS PAYASOS"
    published: 2025-09-25
    channel: Cultural Verducido
---

