---
layout: post
tags: ["post", "2024", "andaina"]
title: Andaina do terror en Couso
date: 2024-10-26
organizers:
  - politicamente-incorrectos
location: Couso, Gondomar
image: 2024/andaina-terror-couso.jpg
---

<p>Dos creadores, *Da primeira andaina nocturna de medo, en Couso*......‼️</p>
<p>Volve a Asociación Comparsa Políticamente Incorrectos para facer unha actividade terrorífica 🕷️!!!! </p>
<p>Xa tedes o cartel oficial da nosa Andaina Do Terror,
⚠️ COMEZARÁ AS 20:30H ⚠️</p>
<p>📌 En Couso (Gondomar)
🗓️ O día 26 de Outubro</p>
<p>☕ Chocolatada gratis</p>
<p>⬇️ INSCRICIÓNS ⬇️ 🎃</p>
<p>+ Só para MENSAXES (vía Watshapp) ➡️ 684 26 03 47 📲</p>
<p>+ Só para CHAMADAS ➡️ 689 48 88 75 📳</p>
