---
layout: post
tags: ["post", "rastrexo", "2024"]
title: XVIII Rastrexo Pexegueiro
date: 2024-08-31
organizers:
  - centro-cultural-pexegueiro
location: Pexegueiro, Tui
image: 2024/xviii-rastrexo-pexegueiro.jpg
---
