---
layout: post
tags: ["post", "2024", "rastrexo"]
title: "VI Rastrexo Festivexe: O xogo da lura"
date: 2024-08-02
source_url: https://www.facebook.com/rastrexofestixeve
source_name: Rastrexo Festivexe
location: Campo de Vilar, Fragoso - Pontevedra
image: 2024/iv-rastrexo-festivexe.jpeg
---
