---
layout: post
tags: ["post", "rastrexo", "2024"]
title: XVIII Rastrexo Pexegueiro
date: 2024-08-31
source_url: https://www.facebook.com/profile.php?id=100005506787811
source_name: Centro Cultural Pexegueiro
location: Pexegueiro, Tui
image: 2024/xviii-rastrexo-pexegueiro.jpg
---
