---
layout: post
tags: ["post", "2024", "rastrexo"]
title: VII Rastrexo de Piñeiro
date: 2024-06-01
organizers:
  - comision-de-festas-de-san-lorenzo-de-pineiro
location: Piñeiro, Tomiño
image: 2024/2024-06-01-vii-rastrexo-pinheiro.jpeg
---
