---
layout: post
tags: ["post", "2024", "andaina"]
title: Andaina Nocturna Castro Barreiro
date: 2024-09-21
source_url: https://www.facebook.com/CastroBarreiroNSN
source_name: Carnaval Castro Barreiro
location: Centro Cultural Social de Castro Barreiro, Salceda de Caselas
image: 2024/andaina-castro-barreiro.jpg
---
