---
layout: post
tags: ["post", "rastrexo", "2024"]
title: Andaina do Terror Picoña
date: 2024-10-31
source_url: https://www.facebook.com/story.php?story_fbid=545980158369205&id=100088716768123&mibextid=WC7FNe&rdid=unwPK6jXXU5VUiXK
source_name: Festa Virxe da O Picoña
location: A Picoña, Salceda de Caselas
image: 2024/picoña.jpg
---
