
<!doctype html>
<html lang="gl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/recursos/foundation-icons/foundation-icons.css" />
		<link rel="stylesheet" href="/recursos/bundle.css">
    <title>V Rastrexo de Guláns</title>

		<!-- Meta -->
		<meta name="author" content="Carlos González Goce">
    <meta name="keywords" content="rastrexo,rastrexar,rastrexando,andaina,galicia"/>
    <meta property="og:title" content="V Rastrexo de Guláns">
    <meta name="description" content="Rastrexando — A túa plataforma de referencia para non perderte ningún Rastrexo">
    <meta property="og:description" content="Rastrexando — A túa plataforma de referencia para non perderte ningún Rastrexo">

		<!-- Favicon (made with http://realfavicongenerator.net/) -->
    <link rel="apple-touch-icon" sizes="180x180" href="/recursos/apple-touch-icon.png?v2=Gvk3Pm9dNO">
    <link rel="icon" type="image/png" sizes="32x32" href="/recursos/favicon-32x32.png?v2=Gvk3Pm9dNO">
    <link rel="icon" type="image/png" sizes="16x16" href="/recursos/favicon-16x16.png?v2=Gvk3Pm9dNO">
    <link rel="manifest" href="/recursos/site.webmanifest?v2=Gvk3Pm9dNO">
    <link rel="mask-icon" href="/recursos/safari-pinned-tab.svg?v2=Gvk3Pm9dNO" color="#5bbad5">
    <link rel="shortcut icon" href="/recursos/favicon.ico?v2=Gvk3Pm9dNO">
    <meta name="apple-mobile-web-app-title" content="Rastrexando">
    <meta name="application-name" content="Rastrexando">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Scripts -->
    <script src="/recursos/js/htmx.min.js"></script>
  </head>
  <body class="relative">
    
<div id="layout-base" hx-indicator="#rastrexando-logo img">
  <div class="animated-bg-wrapper">
    <section class="animated-section">
      <header class="wrapper">
        <a
          id="rastrexando-logo"
          href="/"
          hx-get="/"
          hx-target="#main-container"
          hx-select="#main-container"
          hx-swap="outerHTML"
          hx-push-url="true"
        >
          <img class="image" src="/recursos/rastrexando-simbolo.png" alt="Curuxa de Rastrexando" />
          <span class="title">Rastrexando</span>
        </a>
      </header>
      <div class='air air1'></div>
      <div class='air air2'></div>
      <div class='air air3'></div>
      <div class='air air4'></div>
    </section>
  </div>
  <main id="main-container">
    <div class="page-center-content">
      <div class="page-content">
        
<nav class="breadcrumbs">
  <ul>
    <li>
      <a
        href="/"
        hx-get="/"
        hx-target="#main-container"
        hx-select="#main-container"
        hx-swap="outerHTML"
        hx-push-url="true"
        title="Inicio"
        class="link"
      >
        Inicio
      </a>
    </li>
    <li><i class="fi-play is-light-blue"></i></li>
    <li>
      <a
        href="/calendarios/"
        hx-get="/calendarios/"
        hx-target="#main-container"
        hx-select="#main-container"
        hx-swap="outerHTML"
        hx-push-url="true"
        title="Calendarios"
        class="link"
      >
        Calendarios
      </a>
    </li>
    <li><i class="fi-play is-light-blue"></i></li>
    <li>
      <a
        href="/calendarios/2017/"
        hx-get="/calendarios/2017/"
        hx-target="#main-container"
        hx-select="#main-container"
        hx-swap="outerHTML"
        hx-push-url="true"
        title="2017"
        class="link"
      >
        2017
      </a>
    </li>
    <li><i class="fi-play is-light-blue"></i></li>
    <li class="is-light-blue">22 de xul.</li>
  </ul>
</nav>

<div class="page page-post">
	<header class="page-header">
		<h1>V Rastrexo de Guláns</h1>
	</header>
	<hr />
  <div class="prev-next-buttons">
    
    
    
      
      <a
        href="/calendarios/2017/i-rastrexo-de-camos/"
        hx-get="/calendarios/2017/i-rastrexo-de-camos/"
        hx-target="#main-container"
        hx-select="#main-container"
        hx-swap="outerHTML"
        hx-push-url="true"
        title="Anterior"
        class=""
      >
        Anterior
      </a>
    
    
    
      
      <a
        href="/calendarios/2017/v-rastrexo-infantil-fornelos-e-lourido/"
        hx-get="/calendarios/2017/v-rastrexo-infantil-fornelos-e-lourido/"
        hx-target="#main-container"
        hx-select="#main-container"
        hx-swap="outerHTML"
        hx-push-url="true"
        title="Seguinte"
        class=""
      >
        Seguinte
      </a>
    
    
  </div>
	<ul class="details">
		<li>
			<div class="date">
				<i class="fi-calendar is-light-blue"></i>
				sábado, 22 de xullo de 2017
			</div>
		</li>
		<li>
			<i class="fi-marker is-light-blue"></i>
			Guláns, Ponteareas
		</li>
		
		<li>
			<i class="fi-social-facebook is-light-blue"></i>
			<a href="https://www.facebook.com/RastrexoGulans-Gulans-771944396173859/?fref=ts" title="Rastrexo Guláns" _blank="true">
				Rastrexo Guláns
			<a/>
		</li>
		
	</ul>

	<br />

	
		<a href="/recursos/imaxes/2012-2020/68/0f1fba-31c4-49b6-95f0-64d8ea8dc70b.jpg" title="V Rastrexo de Guláns" _blank="true">
			<img class="image" src="/recursos/imaxes/2012-2020/68/0f1fba-31c4-49b6-95f0-64d8ea8dc70b.jpg" />
		</a>
	

  

	
</div>

<script type="application/ld+json">
{
  "name": "V Rastrexo de Guláns",
  "startDate": "Saturday, July 22, 2017",
  "url": "/calendarios/2017/v-rastrexo-de-gulans/",
  "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
  "description": "",
  
	"image": "/recursos/imaxes/2012-2020/68/0f1fba-31c4-49b6-95f0-64d8ea8dc70b.jpg",
  
  "@context": "http://schema.org",
  "@type": "Event",
  "endDate": "2019-10-12",
  "eventStatus": "EventScheduled",
  "location": {
    "@type": "Place",
    "name": "Guláns, Ponteareas"
  },
  "organizer": { "@type": "Organization", "name": "Rastrexo Guláns", "url": "https://www.facebook.com/RastrexoGulans-Gulans-771944396173859/?fref=ts" }
}
</script>

      </div>
    </div>
  </main>
  <footer id="main-footer">
    <div class="wrapper">
      <div class="left">
        <p>Rastrexando</p>
        ©
        <p>2017-2024</p>
      </div>
      <div class="right">
        <i class="fi-mail"></i>
        <a href="mailto:carlos@rastrexando.eu">Contacto</a>
      </div>
    </div>
  </footer>
</div>

  </body>
</html>
