---
layout: post
tags: post
title: VII Rastrexo de Piñeiro
date: 2024-06-01
source_url: https://www.facebook.com/romeriacabalo
source_name: Romería do Cabalo Piñeiro
---
<img class="image" src="/assets/images/2024-06-01-vii-rastrexo-pinheiro.jpeg" />
