---
title: Rastrexando
---

<!doctype html>
<html lang="gl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/assets/bundle.css">
    <title>{{ title }}</title>
  </head>
  <body>
		<section class="layout-base">
			<aside>
				<div class="container-padding">
					<a id="rastrexando-logo" href="/"><img class="image" src="/assets/rastrexando-horizontal.png" /></a>
					<nav class="main-nav">
						{% for post in collections.post %}
							<article class="nav-post">
								<div class="date">
									<span>{{ post.date.getDay() }}</span>
									<span>{{ post.date.toLocaleString("gl", {month: "long"}) }}</span>
									<span>{{ post.date.getFullYear() }}</span>
								</div>
								<a class="{% if page.url == post.url %}active{% endif %}" href="{{ post.url }}">{{ post.data.title }}</a>
							</article>
							<hr />
						{% endfor %}
					</nav>
				</div>
			</aside>
			<main>
				<div class="container-padding">
					{{ content | safe }}
				</div>
			</main>
		</section>
  </body>
</html>
