---
title: Rastrexando
---

<!doctype html>
<html lang="gl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/assets/foundation-icons/foundation-icons.css" />
		<link rel="stylesheet" href="/assets/bundle.css">
    <title>{{ title }}</title>
  </head>
  <body>
		<section id="layout-base">
			<header id="main-header">
					<a id="rastrexando-logo" href="/">
						<img class="image" src="/assets/rastrexando-horizontal.png" />
					</a>
			</header>
			<main>
				{{ content | safe }}
			</main>
		</section>
		<footer id="main-footer">
			<p>Carlos González Goce</p>
			<p>Rastrexando © 2017-2024</p>
		</footer>
  </body>
</html>
