---
layout: base
title: Calendario - Rastrexando
---

<div class="page page-index">
  <header class="page-header">
    {% renderPrevNextButtons pagination, "Calendario " + year.name %}
  </header>
  <section>
    {% for post in collections[year.name] %}
      {% renderPost post %}
    {% endfor %}
  </section>
</div>
