---
layout: base
title: Calendario - Rastrexando
---

<nav class="breadcrumbs">
  <ul>
    <li>{% renderHTMXLink "/", "Inicio", "link" %}</li>
    <li class="breadcrumb-sep">›</li>
    <li class="is-light-blue">{{ year.name }}</li>
  </ul>
</nav>

<div class="page page-calendar">
  <header class="page-header">
    <h1><i class="fi-calendar is-light-blue"></i> {{ year.name }}</h1>
  </header>
  {% renderPrevNextButtons pagination, year.name %}

  <section>
    {% for post in collections[year.name] %}
      {% renderPost post %}
    {% endfor %}
  </section>
</div>
