---
layout: base
title: Evento — Rastrexando
---

<div class="page page-post">
  <nav class="breadcrumbs">
    <ul>
      <li><a class="link" href="/">Inicio</a></li>
      <li><i class="fi-play is-light-blue"></i></li>
      <li><a class="link" href="/calendarios/{{ date.getFullYear() }}/">{{ date.getFullYear() }}</a></li>
      <li><i class="fi-play is-light-blue"></i></li>
      <li class="is-light-blue">{{ date | toGLMonthDay }}</li>
    </ul>
  </nav>

	<header class="page-header">
		<h1>{{ title }}</h1>
	</header>
	<hr />
  <div class="prev-next-buttons">
    {% set previousPost = collections.post | getPreviousCollectionItem(page) %}
    {% set nextPost = collections.post | getNextCollectionItem(page) %}
    {% if previousPost %}
      <a href="{{ previousPost.url }}">Anterior</a>
    {% else %}
      <div class='not-allowed'>Anterior</div>
    {% endif %}
    {% if nextPost %}
      <a href="{{ nextPost.url }}">Seguinte</a>
    {% else %}
      <div class='not-allowed'>Seguinte</div>
    {% endif %}
  </div>
	<ul class="details">
		<li>
			<div class="date">
				<i class="fi-calendar is-light-blue"></i>
				{{ date | toGlLocale }}
			</div>
		</li>
		<li>
			<i class="fi-marker is-light-blue"></i>
			{{ location }}
		</li>
		{% if source_url %}
		<li>
			<i class="fi-social-facebook is-light-blue"></i>
			<a href="{{ source_url }}" title="{{ source_name }}" _blank="true">
				{{ source_name }}
			<a/>
		</li>
		{% endif %}
	</ul>

	<br />

	{% if image %}
		<a href="/recursos/imaxes/{{ image }}" title="{{ title }}" _blank="true">
			<img class="image" src="/recursos/imaxes/{{ image }}" />
		</a>
	{% endif %}

  {% if videos %}
    <section class="video-section">
      <hr />
      <h2>Vídeos</h2>
      <div class="video-list">
        {% for video in videos %}
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/{{ video.id }}" title="{{ video.title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        {% endfor %}
      </div>
    </section>
  {% endif %}

	{{ content | safe }}
</div>
