---
layout: post
tags: ["post", "rastrexo", "2016"]
title: 2º Rastrexo Costeira
date: 2016-06-11
organizers:
  - rastrexo-costeira
location: A Costeira, Porriño
image: 2012-2020/88/59cd00-1e07-48ed-974b-050e0838f26b.jpeg
---
