---
layout: post
tags: ["post", "rastrexo", "2016"]
title: I Rastrexo de Sanxenxo
date: 2016-09-17
source_url: https://www.facebook.com/ocubreiro/
source_name: Asociación Lúdica y Cultural O Cubreiro
location: Sanxenxo
image: 2012-2020/bf/6f92d3-b664-424d-bb18-b8392da90b15.jpg
---
