---
layout: post
tags: ["post", "rastrexo", "2016"]
title: I Rastrexo Vigo "Os Superheroes"
date: 2016-05-28
source_url: 
source_name: 
location: Cabral, Vigo
image: 2012-2020/6c/5dc31f-575f-445c-8b7c-4fd6b130ee38.jpeg
---