---
layout: post
tags: ["post", "rastrexo", "2016"]
title: I Rastrexo de Vincios "Campeonato de Rallye"
date: 2016-08-20
organizers:
  - avv-galineiro-de-vincios
location: Vincios, Gondomar
image: 2012-2020/21/be5c5b-301c-4d61-9506-7a327a03dd57.jpg
---