---
layout: post
tags: ["post", "rastrexo", "2016"]
title: I Rastrexo María Soliño
date: 2016-11-05
source_url: https://www.facebook.com/rastrexomariasolinho/
source_name: Alumnos TAFAD do IES María Soliño
location: IES María Soliño, Cangas
image: 2012-2020/99/0e6bb6-7b4d-4527-b148-c9398ca6808d.jpeg
videos:
- title: "RASTREXO MARÍA SOLIÑO (Noite de Bruxas)"
  id: "k6izRWA_sqM"
- title: "Rastremaos"
  id: "SDSMgoTfOqk"
- title: "Os Torakka"
  id: "BeaEtbJtl-w"
---
