---
layout: post
tags: ["post", "rastrexo", "2016"]
title: II Rastrexo de Piñeiro "Divergente"
date: 2016-06-04
source_url: https://www.facebook.com/romeriacabalo/
source_name: Comisión de Festas de San Lorenzo de Piñeiro
location: Piñeiro, Tomiño
image: 2012-2020/70/b8d820-45ab-40fe-aa3a-141d99432b12.jpeg
---