---
layout: post
tags: ["post", "rastrexo", "2016"]
title: II Rastrexo Virxe da Guía
date: 2016-07-23
source_url: https://www.facebook.com/II-RASTREXO-VIRXE-DA-GUIA-728593800576797/
source_name: II Rastrexo Virxe da Guía
location: Atios, Porriño
image: 2012-2020/8a/3792d5-31ac-4274-a93b-5caa8bada21c.jpeg
---
