---
layout: post
tags: ["post", "infantil", "2016"]
title: II Rastrexo Infantil San Estevo de Budiño "Dragon Ball"
date: 2016-07-24
source_url: https://www.facebook.com/carnavales.sanesteban/
source_name: Comparsa Talismán
location: San Esteban de Budiño, Salceda de Caselas
image: 
---