---
layout: post
tags: ["post", "rastrexo", "2016"]
title: II Rastrexo de Soutolobre
date: 2016-07-16
source_url: https://www.facebook.com/RastrexoSoutolobre/
source_name: Rastrexo Soutolobre
location: Soutolobre, Salvaterra de Miño
image: 2012-2020/20/0f2be0-c049-49db-9608-b0a8f56a5291.jpeg
---
