---
layout: post
tags: ["post", "rastrexo", "2016"]
title: II Rastrexo de Areas
date: 2016-07-02
organizers:
  - rastrexo-areas
location: Areas, Ponteareas
image: 2012-2020/4c/e30fba-e98b-415b-a22e-d8f56f2164a6.jpeg
videos:
  - id: "KlW7fYDP-bA"
    title: "2º Rastrexo Areas (Os Torakka 2016)"
    published: 2016-07-07
    channel: "Os Torakka"
---
