---
layout: post
tags: ["post", "rastrexo", "2016"]
title: II Rastrexo de Areas
date: 2016-07-02
source_url: https://www.facebook.com/rastrexoareas/
source_name: Rastrexo Areas
location: Areas, Ponteareas
image: 2012-2020/4c/e30fba-e98b-415b-a22e-d8f56f2164a6.jpeg
---
