---
layout: post
tags: ["post", "infantil", "2016"]
title: II Rastrexo Infantil de Santa Eulalia de Batalláns
date: 2016-07-22
source_url: https://www.facebook.com/profile.php?id=100009185512064
source_name: Rastrexo Batalláns
location: Batalláns, As Neves
image: 2012-2020/b4/e06229-430c-4a17-b145-399d81d81bb4.jpg
---
