---
layout: post
tags: ["post", "rastrexo", "2016"]
title: III Rastrexo de Fornelos
date: 2016-08-05
location: Fornelos da Ribeira, Salvaterra de Miño
image:
videos:
  - id: "urh_Ts4wd6U"
    title: "Rastremaos | III Rastrexo de Fornelos"
    published: 2016-08-06
    channel: "Rastremaos"
---
