---
layout: post
tags: ["post", "rastrexo", "2016"]
title: III Rastrexo de Fornelos
date: 2016-08-05
source_url: https://www.facebook.com/profile.php?id=100005524818944
source_name: 
location: Fornelos da Ribeira, Salvaterra de Miño
image: 
---