---
layout: post
tags: ["post", "rastrexo", "2016"]
title: III Rastrexo de Cristiñade
date: 2016-07-16
source_url: https://www.facebook.com/rastrexo.decristinade
source_name: Asociación Cultural Festas de Cristiñade
location: Cristiñade, Ponteareas
image: 2012-2020/87/94afd6-1fa3-40e6-ba2a-669fe63453cf.jpeg
---