---
layout: post
tags: ["post", "rastrexo", "2016"]
title: III Rastrexo de Pereiras
date: 2016-07-02
source_url: https://www.facebook.com/rastrexopereiras/
source_name: 
location: Pereiras, Mos
image: 2012-2020/53/2d40a1-6427-42d8-9838-e0b078cc8ebc.jpeg
---