---
layout: post
tags: ["post", "rastrexo", "2016"]
title: IV Rastrexo de Guláns
date: 2016-07-23
source_url: 
source_name: Amigos do Rastrexo de Guláns e Asociación Cultural de Guláns
location: Guláns, Ponteareas
image: 2012-2020/49/3b8b44-71ec-46bf-b803-88e80eff501d.jpeg
---