---
layout: post
tags: ["post", "andaina", "2016"]
title: Noite Cavernícola
date: 2016-10-08
organizers:
  - carnaval-castro-barreiro
source_url: http://carnavalcastrobarreiro.com/iii-andaina-nocturna-noite-cavernicola/
location: Centro Cultural Social de Castro Barreiro, Salceda de Caselas
image: 2012-2020/84/811a75-276e-451c-b96d-0057dfabeef7.jpg
---