---
layout: post
tags: ["post", "rastrexo", "2016"]
title: Rastrexo de San Bartolomeu "En busca do tesouro"
date: 2016-07-16
source_url: https://www.facebook.com/espenicelo/
source_name: 
location: San Bartolomeu, Tui
image: 2012-2020/9c/f09016-f85c-438d-a26a-7c6b000d27c4.jpeg
---