---
layout: post
tags: ["post", "rastrexo", "2016"]
title: VII Rastrexo de Taborda
date: 2016-08-27
source_url: https://www.facebook.com/Rastrexo-Taborda-504634333032518/
source_name: Rastrexo Taborda
location: Taborda, Tomiño
image: 2012-2020/35/e99b5d-a245-4313-b000-72c00cc44f22.png
---