---
layout: post
tags: ["post", "rastrexo", "2016"]
title: VII Rastrexo de Oliveira
date: 2016-08-06
source_url: https://www.facebook.com/rastrexo.oliveira/
source_name: Comisión de Festas de Santiago de Oliveira
location: Oliveira, Ponteareas
image: 2012-2020/4c/d59355-7904-4752-95cd-e53dd75050e4.jpeg
---