---
layout: post
tags: ["post", "rastrexo", "2016"]
title: XIV Rastrexo de Pexegueiro "Rastreo Labrego"
date: 2016-08-13
source_url: https://www.facebook.com/profile.php?id=100005506787811
source_name: Centro Cultural Pexegueiro
location: Pexegueiro, Tui
image: 2012-2020/37/125fee-3467-478c-b9cb-8f644cb8d39c.jpg
---